<div class="ui fluid celled list">
    {{#clients}}
    <div class="item">
        <div class="content">
            <div class="header"><a class="header" onclick="oRv.getClientDetail({{id}});">#{{id}} {{firstname}} {{lastname}}</a></div>
           
            {{#ifvalue company equals="1"}}
                {{companyname}}
            {{/ifvalue}}
        </div>
    </div>
    {{/clients}}
    {{^clients}}
    <div class="ui ignored message">
        ไม่พบข้อมูล
    </div>
    {{/clients}}
</div>