{{#client}}
    <a id="clientDetailGoBack" href="javascript:void(0);" onclick="oRv.clientDetailClose();" title="Go back" class="ui right corner label"><i class="reply icon"></i></a>
    
    <h3 class="ui header">
        <a class="btn" href="javascript:void(0);" onclick="oRv.topbarShowClientDetail({{id}});">#{{id}}</a> {{firstname}} {{lastname}}
        {{#ifvalue company equals="1"}}
        <div class="sub header">{{companyname}}</div>
        {{/ifvalue}}
    </h3>
    
    <div style="display: none;">
        {{address1}}
        {{address2}}
        {{city}} {{state}}
        {{postcode}}
    </div>
    
    <div class="ui list">
        <div class="item">
            <i class="mail icon"></i> <div class="content"> {{email}} </div>
        </div>
        <div class="item">
            <i class="call icon"></i> <div class="content"> {{phonenumber}} </div>
        </div>
    </div>
    
    <div class="ui divider"></div>
    
    <div id="clientServiceBox"></div>
    
    <div class="ui divider"></div>
    
    <div id="clientInvoiceBox"></div>
    
    <div class="ui divider"></div>
    
    <div id="clientOrderBox"></div>
    
{{/client}}