<h4 class="ui header">Invoice ( <a href="javascript:void(0);" onclick="oRv.topbarListClientInvoice({{clientId}});"> {{totalInvoice}} </a> )</h4>

<div class="ui list">
    {{#invoices}}
    <div class="item"><a href="javascript:void(0);" onclick="oRv.topbarShowInvoiceDetail({{id}});">#{{id}}</a>  
        
        {{#ifvalue status equals="Paid"}}
            <a class="ui mini green tag label">{{status}} </a>
        {{else ifvalue status equals="Unpaid"}}
            <a class="ui mini red tag label">{{status}} </a>
        {{else}}
            <a class="ui mini tag label">{{status}} </a>
        {{/ifvalue}}
        
        = {{total}} 
        <small>@{{duedate}}</small>
    </div>
    {{/invoices}}
</div>
