<script>

  window.location.href = "https://netway.co.th/companyprofile";

</script>

<!-- 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="css/top-style.css" media="screen" />

</head>

<body>

	<div class="dialog">
		<div>
			<h1 class="title">Company Profile</h1>
			<div style="padding:20px;">
				<table cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td align="center" valign="top" nowrap="nowrap"><div class="bgimg"></div>
</td>
						<td><img src="{$template_dir}share/images/spacer.gif" width="30" height="1" alt="" /></td>
						<td align="left" valign="top" class="slogan">
						<p><b>Pairote Rojanaphusit.</b> CEO <br />
<i>Netway Communication Co.,Ltd.</i></p>
						<div class="padb">พันธกิจของเรา คือ ไม่หยุดพัฒนา ก้าวไปข้างหน้าร่วมกับพันธมิตร<br /> และสร้างความพึงพอใจให้ลูกค้าอย่างสูงสุด<br /></div>
						<div>Our mission is To Be Innovative! Make Our Customers Satisfied.<br />And Move forward with Partners.</div></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="content">
			<h2 class="subtitle">ประวัติความเป็นมาขององค์กร</h2>
			<ul class="bullet"> 
				<li>จดทะเบียนบริษัทวันที่ 9 ก.ค. 2539 จนถึงปัจจุบัน ดำเนินกิจการรวม 17 ปี โดยมีคุณไพโรจน์ โรจนภูสิษฐ์ เป็นผู้บริหาร CEO</li>
				<li>เน็ตเวย์ กรุ๊ป มีบริษัทในเครือจำนวน 3 บริษัท  คือ บริษัท เน็ตเวย์ คอมมูนิเคชั่น จำกัด, บริษัท อาร์วี โกลบอล ซอฟท์ จำกัด และบริษัท เว็บ เอ็คซเพิร์ท จำกัด</li>
				<li>แบรนด์ที่ให้บริการทั้งในประเทศและต่างประเทศ  
					<ul class="sub-bullet">
						<li>ในประเทศ เช่น <a href="http://www.siamdomain.com" target="_blank">siamdomain.com</a> , <a href="http://www.siaminterhost.com" target="_blank">siaminterhost.com</a>, <a href="https://ssl.in.th" target="_blank">ssl.in.th</a> , <a href="http://www.siammonitoring.com" target="_blank">siammonitoring.com</a>  </li>
						<li>และแบรนด์ในต่างประเทศ เช่น <a href="http://www.rvglobalsoft.com" target="_blank">rvglobalsoft.com</a>, <a href="http://www.rvskin.com" target="_blank">rvskin.com </a>, <a href="http://www.rvsitebuilder.com" target="_blank">rvsitebuilder.com</a> , <a href="http://www.rvmonitoring.com" target="_blank">rvmonitoring.com</a></li>
					</ul>
				</li>
				<li>บริษัท เน็ตเวย์ คอมมูนิเคชั่น จำกัด เป็นผู้ให้บริการ Hosting ที่มีห้องดาต้า เซ็นเตอร์ ตั้งอยู่ที่ตึก CAT บางรัก ชั้น 4 ห้อง 413 โดยใช้ชื่อ "Netway Data Center"</li>
				<li>ปัจจุบันเรามีเครื่องเซิร์ฟเวอร์ให้บริการทั้งในประเทศและต่างประเทศ ไม่น้อยกว่า 50 เครื่องเซิร์ฟเวอร์ ไม่รวมบริการ colocation และมีจำนวนผู้ใช้บริการ Hosting มากกว่า 5,000 ราย เช่น หน่วยงานราชการ, รัฐวิสาหกิจ, บริษัทเอกชน, สมาคม, องค์กรมหาชน, ธุรกิจ SME และบุคคลทั่วไป</li>
				<li>เรามีการกำหนดนโยบายและมาตรฐานการให้บริการ SLA (Service Level Agreement) ไว้รองรับลูกค้าหลายระดับ ขึ้นอยู่กับบริการที่ลูกค้าใช้</li>
				<li>เรามีการวางแผนรองรับการดำเนินธุรกิจอย่างต่อเนื่อง (Business Continuity Plan) ในกรณีที่เกิดสถานการณ์ฉุกเฉิน พร้อมทั้งมีมาตรการดูแลความมั่นคงปลอดภัยในข้อมูลของผู้ใช้บริการของเราอย่างเข้มงวด รวมถึงการบริหารจัดการข้อมูลทางคอมพิวเตอร์ (Log file) เพื่อให้สอดคล้องกับ พ.ร.บ. ว่าด้วยการกระทำความผิดเกี่ยวกับคอมพิวเตอร์ พ.ศ. 2552
				</li>
			</ul>
			
			<h2 class="subtitle">แนวคิดและวิสัยทัศน์ในการทำธุรกิจ (Vision)</h2>
			<div>
				<table cellpadding="0" cellspacing="0" width="100%" class="vision">
					<tr>
						<td align="left" valign="top" class="bg-arrow"><h2>Innovation</h2></td>
						<td align="left" valign="top">ผลิตซอฟแวร์ลิขสิทธ์ขายให้ผู้ให้บริการ Hosting จำนวน 3,200 รายทั่วโลก ปัจจุบันมีผู้ใช้บริการมากกว่า 20,000 เครื่องเซิร์ฟเวอร์</td>
					</tr>
					<tr>
						<td align="left" valign="top" class="bg-arrow"><h2>Research & Development</h2></td>
						<td align="left" valign="top">เปิดบริษัทให้บริการจดโดเมนและโฮสติ้ง (Hosting Provider) ในไทย เพื่อให้ทราบทิศทางและความต้องการหลักของกลุ่มเป้าหมาย คือ Hosting Provider ที่เราขาย Software License ในต่างประเทศ</td>
					</tr>
					<tr>
						<td align="left" valign="top" class="bg-arrow"><h2>Competitive Advantage </h2></td>
						<td align="left" valign="top">ขยายการให้บริการจากผู้ให้บริการโฮสติ้ง มาเป็นผู้ให้บริการดูแลระบบเซิร์ฟเวอร์ขององค์กร (Managed Server Services) โดยใช้ Know-how ที่ได้จากการดูแลเครื่องเซิร์ฟเวอร์ที่ให้บริการแชร์โฮสติ้งกับลูกค้ารายย่อย มาต่อยอดบริการให้กลุ่มลูกค้าองค์กร</td>
					</tr>
					<tr>
						<td align="left" valign="top" class="bg-arrow"><h2>Economies of Scale </h2> </td>
						<td align="left" valign="top">Netway พัฒนากิจการและขยายโครงสร้างพื้นฐานอย่างต่อเนื่อง เพื่อให้ลดต้นทุนและสามารถขยายระบบการให้บริการ ได้อย่างไม่มีข้อจำกัด เพิ่มอำนาจการต่อรองกับ Supplier ด้วยการควบรวมกิจการบริษัทที่มี Know-how ในการบริหารงานระบบดาต้า เซ็นเตอร์ เพื่อต่อยอดธุรกิจ</td>
					</tr>
					<tr>
						<td align="left" valign="top" class="bg-arrow"><h2>Alliance and Partnership</h2> </td>
						<td align="left" valign="top">เป็น Partner กับผู้ให้บริการซอฟแวร์ลิขสิทธิในต่างประเทศ เช่น Symantec (security), cPanel (domain controller), OnApp (cloud controller), OwnCloud(files sharing), Google Apps (cloud mail & collaboration services) เป็นต้น</td>
					</tr>
					<tr>
						<td align="left" valign="top" class="bg-arrow2"><h2>Move Early &amp; Distribution<br /> Channels </h2></td>
						<td align="left" valign="top">พัฒนาระบบ RVGlobal Store (แนวคิดคล้าย Apple Store) ที่เป็นแหล่งรวม Software License ทั้งแบบชำระเงินและฟรี ให้เลือกดาวน์โหลดและติดตั้งบนเครื่องเซิร์ฟเวอร์ของ Hosting Provider ได้แบบอัตโนมัติ</td>
					</tr>
				</table>
			</div>
			
			<h2 class="subtitle">WHY NETWAY เพราะเราอยู่คู่ธุรกิจเว็บไทยมานานกว่า 17 ปี</h2>
			<div>
				<div>
					<div>เริ่มต้นจากความเป็นผู้นำแห่งโลกออนไลน์ด้วยบริการรับจดโดเมนและเนื้อที่เพื่อสร้างเว็บไซต์ให้แก่บุคคลทั่วไปและองค์กรทุกขนาด จนถึงความเชี่ยวชาญด้านระบบความปลอดภัยที่หลายคนไว้วางใจเสมอมา ปัจจุบันหลายคนจึงเริ่มต้นมองหาโซลูชั่นด้านเว็บโฮสติ้งจาก <b>Netway Communication</b> เสมอ และด้วยความเอาใจใส่ที่ดีจากพนักงานและผู้เชี่ยวชาญที่เรามี ลูกค้าของเราจึงได้รับการดูแลอย่างเต็มที่เสมอตลอด 24 ชั่วโมง</div>
					<div class="clearit"></div>
				</div>
			</div>
			
			
			
			<h2 class="subtitle">Alliance and Partnership ตัวแทนจำหน่ายผลิตภัณฑ์ </h2>
			<div class="para">
					<table cellpadding="10" cellspacing="0">
						<tr>
							<td align="center" valign="top"><span class="symantec"></span></td>
							<td align="left" valign="top" width="40%">
								<h3 class="marbot">Symantec SSL Certificate ในระดับ Platinum Partner</h3>
								<p>Netway Communication เป็นตัวแทนจำหน่าย SSL Certificate อันดับหนึ่งในประเทศไทย และมีแผนงานเตรียมจำหน่ายให้องค์กรต่างๆ ทั่วโลก </p>
							</td>
							<td align="center" valign="top"><span class="google"></span></td>
							<td align="left" valign="top" width="40%">
								<h3 class="marbot">Google Apps Authorized </h3>
								<p>Netway Communication เป็นตัวแทนจำหน่ายของ Google Apps Authorized Reseller ที่เชี่ยวชาญในด้านการติดตั้งและย้ายระบบการติดตั้ง และการอบรมการใช้งานเพื่อให้ผู้ใช้ Google Apps ใช้งานได้ไม่ติดขัด</p>
							</td>
						</tr>
						<tr>
							<td align="center" valign="top"><span class="cpanel"></span></td>
							<td align="left" valign="top">
								<h3 class="marbot">cPanel/WHM Distributor</h3>
								<p>Netway Communication เป็นตัวแทนจำหน่าย cPanel/WHM รายเดียวในประเทศไทย ซึ่งทั่วโลกมีจำนวนมีกี่รายเท่านั้น </p>
							</td>
							<td align="center" valign="top"><span class="onapp"></span></td>
							<td align="left" valign="top">
								<h3 class="marbot">OnApp Partner</h3>
								<p>onapp คือบริการ Infrastructure-as-a-Service หรือ IaaS สำหรับผู้ให้บริการโฮสติ้ง Netway Communication เป็นตัวแทนจำหน่ายประเภท VAR partner ที่มอบบริการให้คำปรึกษาและติดตั้งบริการของ onapp ในประเทศไทย</p>
							</td>
						</tr>
						<tr>
							<td align="center" valign="top"><span class="owncloud"></span></td>
							<td align="left" valign="top">
								<h3 class="marbot">OwnCloud</h3>
								<p>OwnCloud เป็นบริการจัดเก็บไฟล์บนคลาวด์สำหรับผู้ใช้งานที่ต้องการเก็บไฟล์เพื่อเข้าถึงได้จากทุกที่ทุกเวลา และ Netway Communication ให้บริการให้คำปรึกษาและติดตั้งใช้งานด้วย</p>
							</td>
							<td align="center" valign="top"><span class="hyperspin"></span></td>
							<td align="left" valign="top">
								<h3 class="marbot">Hyperspin</h3>
								<p>Hyperspin เป็นบริการควบคุมและติดตาม (monitoring services) สำหรับเซิร์ฟเวอร์และเว็บไซต์เพื่อคอยเช็คสถานะว่าทำงานปกติตลอดเวลาหรือไม่ ซึ่งเป็นบริการหนึ่งที่นำเสนอโดย Netway Communication</p>
							</td>
						</tr>
					</table>
			</div>
			
		</div>
	</div>
</body>
</html> -->