<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ติดต่อเรา</title>
<link rel="stylesheet" type="text/css" href="css/top-style.css" media="screen" />

</head>

<body>
<div class="dialog">
	<div class="row clearmar contact">
		<div class="bgtitle">
			<h1 class="title">Contact Us</h1>
		</div>	
		<h1 class="subtitle">บริษัท เน็ตเวย์ คอมมูนิเคชั่น จำกัด </h1>
		<div class="span5">
			
			<h2>ที่อยู่สำหรับ<br />
ออกหนังสือรับรองภาษี ณ ที่จ่าย
</h2>
			<div>
			เลขที่ 72 อาคารโทรคมนาคมชั้น 4<br />
			ถนนเจริญกรุง<br />
			แขวงบางรัก เขตบางรัก<br />
			กรุงเทพฯ 10500<br /><br />
			
			เลขประจำตัวผู้เสียภาษี 0135539003143
			</div>
			
			<br />
			
			<b>สายด่วน HOT LINE</b>
			<div>โทร 0-2912-2558 </div>
			
			<b>ติดต่อทีมเทคนิค</b>
			<div><a href="mailto:support@netway.co.th">support@netway.co.th</a></div>
			
			<b>ติตต่อทีมขาย</b>
			<div><a href="mailto:nwteam@netway.co.th">nwteam@netway.co.th</a></div>
			
			<b>ติดต่อทีมการตลาด</b>
			<div><a href="mailto:marketing@netway.co.th">marketing@netway.co.th</a></div>

		</div>
		<div class="line"></div>
		<div class="span6">
			<h2>ที่อยู่สำหรับ<br />
จัดส่งหนังสือรับรองภาษี ณ ที่จ่าย
</h2>
			<div>เลขที่ 1518/5 อาคารเซียะชุน ชั้น 4 <br />ถนนประชาราษฏร์ 1<br />
แขวงวงศ์สว่าง เขตบางซื่อ กรุงเทพมหานคร 10800.<br /><br />

โทร : (66) 0-2912-2558-64<br />
โทรสาร : (66) 0-2912-2565
</div><br />
<a class="fancybox fancybox.iframe" href="map.html" title="แผนที่ บริษัท เน็ตเวย์ คอมมูนิเคชั่น จำกัด"><span class="map"><img src="images/spacer.gif" alt="" width="411" height="293" border="0" /></span></a>
		</div>
	</div>
	<br clear="all" />
</div>
</body>
</html>
