
<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="https://netway.co.th/templates/netwaybysidepad/share/js/fancybox/jquery.fancybox.js?v=2.1.4"></script>
<link type="text/css" rel="stylesheet" href="https://netway.co.th/templates/netwaybysidepad/share/js/fancybox/jquery.fancybox.css">
<script type="text/javascript" src="https://netway.co.th/templates/netwaybysidepad/share/js/fancybox/fancybox.js"></script>

<script type="text/javascript" src="https://netway.co.th/templates/netwaybysidepad/share/css/top-style.css"></script>

<div class="topmenubg">
    <div class="container">         
        <div class="topmenu"> 
                <div class="left"><a href="https://netway.co.th/"><img src="https://netway.co.th/templates/netwaybysidepad/share/images/top_logo.jpg" width="132" height="49" alt="" /></a></div>  
				<div class="left txt-top">&nbsp;&nbsp;<span class="text-gray">Call Center : 0-2912-2558</span></div>
				<div class="left txt-top">&nbsp;&nbsp;<span class="txt">บริการ 24 ชั่วโมง</span></div>   
                <div class="right padtop" style="white-space:nowrap;">
                    <ul id="navtop"> 
                        <li class="main-menu"><a href="javascript:void(0)" style="cursor:default;">About Netway  &nbsp;&nbsp;<img src="https://netway.co.th/templates/netwaybysidepad/share/images/arrow.gif" alt="" width="7" height="5" /></a><img src="https://netway.co.th/templates/netwaybysidepad/share/images/bar.gif" width="2" height="27" alt="" />
                            <ul style="left:-80px; top:12px; width:200px;">
                                <li style="background:none; text-align:right; bottom:-2px;"><img src="https://netway.co.th/templates/netwaybysidepad/share/images/arrow-top.png" alt="" width="28" height="13" /></li>
                                <li style="background-color:#0181ec; color:#FFFFFF; border-bottom:#FFFFFF solid 1px;padding:3px 0;  font-size:16px; cursor:default;">&nbsp;&nbsp;Our Company</li>
                                <li><a class="fancybox fancybox.iframe" href="https://netway.co.th/templates/netwaybysidepad/share/companyprofile.html">Company Profile</a></li>
                                <li><a class="fancybox fancybox.iframe" href="https://netway.co.th/templates/netwaybysidepad/share/teamwork.html">Certificate and Teamwork</a></li>
                                <li><a class="fancybox fancybox.iframe" href="https://netway.co.th/templates/netwaybysidepad/share/policy.html">Policy</a></li>
                            </ul>
                        </li>
                        
                        <li class="main-menu"><a href="javascript:void(0)" style="cursor:default;"><img src="https://netway.co.th/templates/netwaybysidepad/share/images/icon_service.gif" alt="" width="15" height="15" /> &nbsp;Services &nbsp;&nbsp;<img src="https://netway.co.th/templates/netwaybysidepad/share/images/arrow.gif" alt="" width="7" height="5" /></a><img src="https://netway.co.th/templates/netwaybysidepad/share/images/bar.gif" width="2" height="27" alt="" />
                            
                            <ul style="height:auto; width:600px; left:-493px; top:12px;" class="nav-host-block">
                                <li style="background:none; text-align:right; bottom:-2px;"><img src="https://netway.co.th/templates/netwaybysidepad/share/images/arrow-top.png" alt="" width="28" height="13" /></li>
                                <li class="nav-host" style="padding:5px 0;background-color:#0181ec;"><span>Hosting Services</span></li>
                               <li>
								<div class="nav-host-width">
								<div class="nav-manage-title"><span>Shared Hosting</span></div>
								<div><a href="https://netway.co.th/cart/linux-hosting/"><span>Linux hosting</span></a></div>
								<div><a href="https://netway.co.th/cart/windows-hosting/"><span>Windows hosting</span></a></div>
								<div><a href="http://www.siaminterhost.com/webhosting/" target="_blank"><span>Reseller hosting</span></a></div>
								</div>
								<div class="nav-host-width">
								<div class="nav-manage-title"><span>Standard Hosting</span></div>
								<div><a href="https://netway.co.th/dedicatedserver"><span>Dedicated server</span></a></div>
								<div><a href="https://netway.co.th/colocation/"><span>Colocation</span></a></div>
								<div><a href="https://netway.co.th/cloudvps/"><span>Cloud VPS</span></a></div>
								</div>
								<div class="nav-host-width nav-host-none">
									<div class="nav-manage-title"><span>Advanced Hosting</span></div>
									<div><a href="https://netway.co.th/cart/linux-hosting/" target="_blank"><span>Load Balance</span></a></div>
									<div> <a href="https://netway.co.th/cart/linux-hosting/" target="_blank"><span>DR Site / Backup Site</span></a></div>
									<div><a href="https://netway.co.th/cart/linux-hosting/" target="_blank"><span>OwnCloud</span></a></div>
								</div>
								
								<div class="clearit"></div>
								<div class="nav-clound">
								<div class="nav-clound-title"><span>Cloud Solutions</span></div>
								<div class="nav-clound-width">
									<a href="https://netway.co.th/" target="_blank"><span>Public Cloud</span></a>
								</div>
								<div class="nav-service-width">
									<a href="https://netway.co.th/privatecloud/"><span>Private Cloud</span></a>
								</div>
								<div class="nav-service-width">
									<a href="https://netway.co.th/" target="_blank"><span>CDN</span></a>
								</div>
								</div>
								<div class="clearit"></div>
								</li>
								
								
								<li>
                                    <div class="nav-domains left">
                                        <div class="nav-domains-title"><span>Domain</span></div>
                                        <div class="nav-width">
                                            <a href="http://www.siamdomain.com/home/domain/" target="_blank"><span>gTLD</span></a>
                                            <a href="http://www.siamdomain.com/home/domain/" target="_blank"><span>IDN</span></a>
											 <a href="http://www.siamdomain.com/" target="_blank"><span>SiamDomain.com</span></a>
                                        </div>
                                        <div class="nav-width">
                                            <a href="http://www.siamdomain.com/home/domain/" target="_blank"><span>ccTLD</span></a>
                                            <a href="http://www.siamdomain.com/home/domain/" target="_blank"><span>Domain Management</span></a>
											<a href="http://www.thaidomainnames.com/" target="_blank"><span>ThaiDomainName.com</span></a><br />
											<span>&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="nav-ssl left">
                                        <div class="nav-ssl-title"><span>SSL</span></div>
                                        <div class="nav-width-r">
                                            <a href="https://ssl.in.th/" target="_blank"><span>SSL.in.th</span></a>
                                            <a href="https://ssl.in.th/ssl-authorities/rapid-ssl/" target="_blank"><span>Rapid SSL</span></a>
											<a href="https://ssl.in.th/ssl-authorities/instants-ssl/" target="_blank"><span>Comodo SSL</span></a>
											<a href="https://ssl.in.th/ssl-authorities/godaddy-ssl/" target="_blank"><span>GoDaddy SSL</span></a>
                                        </div>
                                        <div class="nav-width-r">
                                            <a href="https://ssl.in.th/ssl-authorities/thawte-ssl/" target="_blank"><span>Thawte SSL</span></a>
                                            <a href="https://ssl.in.th/ssl-authorities/geotrust-ssl/" target="_blank"><span>GeoTrust SSL</span></a>
											<a href="https://ssl.in.th/ssl-authorities/digicert-ssl/" target="_blank"><span>Digicert SSL</span></a>
											<a href="https://ssl.in.th/ssl-authorities/verisign-ssl/" target="_blank"><span>Verisign SSL</span></a>
                                        </div>
                                    </div>
                                </li>
								<li>
                                    <div class="nav-vip left">
                                        <div class="nav-vip-title"><span>2-Factor Authentication</span></div>
                                        <div class="nav-width">
                                            <div><a href="https://netway.co.th/whmcpanel/" target="_blank"><span>Netway2Factor Authentication for WHM/cPanel</span></a></div>
                                            <div><a href="https://netway.co.th/wordpress/" target="_blank"><span>Netway2Factor Authentication for WordPress</span></a></div>
                                        </div>
                                    </div>
                                    <div class="nav-gogoogle left">
                                        <div class="nav-gogoogle-title"><span>Google Apps</span></div>
                                        <div class="nav-width-r">
                                            <a href="http://bizoncloud.in.th/home/about/" target="_blank"><span>Google Apps for Business</span></a> 
											<a href="http://bizoncloud.in.th/home/training-course/" target="_blank"><span>IT Training Course</span></a>
                                        </div>
                                    </div>
									 <div class="clearit"></div>
                                    <div class="nav-service">
                                        <div class="nav-service-title"><span>Services</span></div>
										
                                        <div class="nav-service-width">
                                            <a href="http://www.siaminterhost.com/managed_server/" target="_blank">Server Managed Services</a>
                                        </div>
                                        
                                        <div class="nav-service-width">
                                            <a href="http://www.siaminterhost.com/sms_email_alert/" target="_blank">Server Monitoring</a>
                                        </div>
										
										<div class="nav-service-width">
                                            <a href="http://www.siaminterhost.com/managed_server/" target="_blank">Software License</a>
                                        </div>
                                    </div>
                                    <div class="clearit"></div>
                                </li>
								
                            </ul>
                      </li>
					  <li class="main-menu"><a href="https://netway.co.th/knowledgebase/">Support</a><img src="https://netway.co.th/templates/netwaybysidepad/share/images/bar.gif" width="2" height="27" alt="" /></li>
                      <li class="main-menu"><a class="fancybox fancybox.iframe" href="https://netway.co.th/templates/netwaybysidepad/share/contact.html">Contact us</a><img src="https://netway.co.th/templates/netwaybysidepad/share/images/bar.gif" width="2" height="27" alt="" /></li>
                      <li>
                      <div class="btn-group" style="float:right;">
                                <button id="bg" data-toggle="dropdown">

                                    {if $logged=='1'}
                                    <i></i> {$login.firstname} {$login.lastname}
                                    {else}
                                    <i></i> {$lang.login}
                                    {/if}
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu  pull-right" style="margin-left:-100px; margin-top:0px; padding:5px; background:#f2f2f2;">

                                    {if $logged!='1'}
                                    <li><a href="https://netway.co.th/clientarea/">{$lang.login}</a></li>
                                    {else}
                                    <li><a href="https://netway.co.th/clientarea/details/">{$lang.manageaccount}</a></li>
                                    <li><a href="https://support.netway.co.th/access/logout?return_to=https%3A%2F%2Fnetway.co.th%2F">{$lang.logout}</a></li>
                                    {/if}
                                    {if $adminlogged}
                                    <li class="divider"></li>
                                    <li><a  href="{$admin_url}/index.php{if $login.id}?cmd=clients&amp;action=show&amp;id={$login.id}{/if}">{$lang.adminreturn}</a></li>
                                    {/if}

                                </ul>
                            </div>
                      </li>
                    </ul>
                        
                            
                </div>  
            </div>
           <div class="clearit"></div>
    </div>
</div>

