/********* Start Topmenu ********/
.topmenu-allprodouct{
    font-style: normal;
    color: #0052cd;
    margin-top: 6px;
    font-weight: 100;
}
.munu-dropdow{
    position:fixed; top: 0px; left: 0 px; height: 138px; width: 100%;
    z-index: 999; box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px; background: rgb(255, 255, 255);
}
a[half^="tel:"]:before {
    content:"\260E";
    display: block;
    margin-right: 0.5em;    
} 
.topmenu{
    background:#ffffff; 
    height:auto; 
    color:#0052cd; 
    font-size:16px;
    font-style: normal; 
    font-weight: 400;
    border-bottom:#ECF0F1 solid 2px; 
    margin:0; 
    padding:10px 0 0 0; 
}
.topmenu .fa{
    font-size:16px; 
    margin-right:3px; 
}
.topmenu img{
    padding-top:7px;
}
.topmenu .hotline{
    font-weight:bold; 
    padding-top:10px; 
    vertical-align:middle; 
    color:#233957; 
    padding-left:15px;
    font-family: 'Athiti', sans-serif;
}
.topmenu .hotline b{ 
    font-weight:normal; 
    color: #0052cd;
    
}
.topmenu .hotline i{ 
    font-weight:normal; 
    color:#0052cd;
}
ul#navtop{ margin: 0; padding: 0; list-style: none; position: relative; }

ul#navtop ul {
     width: auto; /* Sub Menu Width */
     margin: 0;
     padding:0;
     list-style: none;
     display: none;
     position: absolute;
     top: 100%;
     left: 0; 
     z-index:100; 
     background: url(../images/arrow-top.png) bottom no-repeat; 
}

ul#navtop ul ul, ul#navtop ul ul ul { 
    top: 0; 
    left: 100%;  
}
ul#navtop li {  
    float: none;
    display: inline; 
    position: relative;
    margin: 0;
    padding:0; 
}
ul#navtop ul  { 
     border:#CCCCCC solid 0px;
}
ul#navtop ul li { 
    width: 100%; 
    display: block; 
    margin: 0;
    padding:0;
}

/* Navigator top Root Menu */
ul#navtop a {
    padding: 3px 18px; 
    margin: 0; 
    white-space:nowrap;
    display: ; 
    text-decoration: none;
    font-weight: 400; 
    color:#0052cd; 
    font-weight: normal;    
    border:0; 
    font-size: 14px; 
    font-style: normal;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    transition: 0s;;
    border-radius: 30px;
}
ul#navtop ul li{
    background-color:#ECF0F1;
}
ul#navtop li a:hover {
    color: #0052cd; 
    background: #e0ebfd;
    padding:3px 18px;
    border-radius: 30px; 
}
/* Root Menu Hover Persistence */
ul#navtop a:hover,ul#navtop li:hover a,ul#navtop li.iehover a {
    color: #2684ff;
}

/* 2nd Menu */
ul#navtop li:hover li a, ul#navtop li.iehover li a {
    float: none;
    color: #666666;
    font-size:12px; 
    padding: 1px 10px; 
    margin: 0; 
}
/* 2nd Menu Hover Persistence */
ul#navtop li:hover li a:hover {
     background: #cccccc;
     color: #0486e1;
}

/* Hover Function - Do Not Move */
ul#navtop li:hover ul ul,ul#navtop li:hover ul ul ul, ul#navtop li.iehover ul ul, ul#navtop li.iehover ul ul ul {
     display: none; 
 }
ul#navtop li:hover ul,ul#navtop ul li:hover ul,ul#navtop ul ul li:hover ul,ul#navtop li.iehover ul,ul#navtop ul li.iehover ul,ul#navtop ul ul li.iehover ul { 
    display: block; 
}
.sub_menu{background-color: #999999; color:#FFFFFF; font-size:13px; font-weight:bold; padding: 1px 10px; cursor:default;}
/********* End Topmenu ********/

/*** Start Top Menu for Mobile ***/
ul#navtop-phone { 
	 padding: 19px 0px 8px 8px;
	 list-style: none; 
	 position: relative; 
}
ul#navtop-phone li {  
    float: none;
    display: inline; 
    position: relative;
    margin: 0;
    padding:0; 
}
ul#navtop-phone a {
    padding: 5px 5px 5px 5px;
    margin-top: 8px;
    white-space: nowrap;
    display: ;
    text-decoration: none;
    font-weight: 400;
    color: #0052cd;
    font-weight: normal;
    border: 0;
    font-size: 16px;
    font-style: normal;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    transition: 0s;
    /* border-radius: 30px; */
}
/***  End Top Menu for Mobile ***/


/**************  Start Login button ****************/

button#bg, button#bg:hover{ 
    background:#1d5391;
    border:0;
    -webkit-border-radius: 0s; 
    -moz-border-radius: 0s; 
    border-radius: 0s;
    margin:2px 0 0 10px; 
    padding:1px 10px; 
    color:#fff; 
    font-size:12px; 
    font-family:tahoma, Verdana, Arial, Helvetica, sans-serif; 
}
button#bg:hover{ 
    color:#508dbd; 

}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid #ffffff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}


.dropdown-menu li > a {
    color:#737373;
    font-weight:bold;
    font-size:12px;
    margin:2px 0;
    padding:2px 18px 2px 10px; 
}
.dropdown-menu {
    left:inherit;
    min-width:127px;
}
.dropdown-menu::after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color:#fff;
    background:#ccc;
    margin:2px 0;
    border-radius:6px;
}
.dropdown-menu li a:hover {
    color:#fff;
}

/**************  Start Contact Us ****************/
.feedback{ 
    color:#fff; 
    font-size:14px;
}
.feedback h2{ 
    color:#fff; 
    font-size:14px; 
    font-weight:bold;
    padding:0px 10px; 
    line-height:1.8em;
}
.feedback .bgimg{ 
    background:url(../images/bg.jpg); 
    width:100%;
    height:94px; 
    border-bottom:#484848 dashed 1px;
}
.feedback .bg{ 
    background:#252525; 
    color:#fff; 
}
.feedback .title{ 
    display:block; 
    width:auto; 
    height: 94px;
    background:url(../images/chat-title.jpg) no-repeat top left;
}
.feedback .btn, .feedback .btn:visited, .feedback .btn:hover, .feedback .btn:active  { 
    background:#000000; 
    color:#FFFFFF; 
    font-size:14px;
    padding:8px 15px; 
    text-decoration:none; 
    border:1px solid #000000; 
}
.feedback .btn:hover, .feedback .btn:active { 
    background: #191919; 
    text-decoration:none; 
}
.feedback .box{ 
    display:block; 
    width:430px; 
    padding:5px; 
    background:#fff; 
    border:0;
}
.feedback .pad{ 
    text-align:center; 
}

/**************** Teamwork *******************/
.team { 
    font-size:14px;
}
.team h1{ 
    font-size:22px; 
    font-weight:bold;
    font-family:'Open Sans', tahoma, Helvetica, sans-serif; 
    text-align:center; 
}
.team h2{ 
    font-size:22px; 
    color:#000; 
    font-weight:normal;
    font-family:'Open Sans', tahoma, Helvetica, sans-serif; 
}
.team h3{ 
    font-size:16px; 
    color:#0068b3;
    margin:0;
    margin-bottom:20px; 
    line-height:1.2em;
}
.team h4{ 
    color:#000;
    margin:0;
    font-size:16px; 
    font-family:'Open Sans', tahoma, Helvetica, sans-serif; 
}
.team tr td{ 
    padding-bottom:50px;
    font-size:16px; 
    font-family:'Open Sans', tahoma, Helvetica, sans-serif; 
}
.team tr td.pad{ 
    padding-top:40px; 
    padding-left:10px;
}
.team tr td.pad2{ 
    padding-left:10px;
}
.team .team-l {
    background: url(../images/team-l.jpg) no-repeat top; 
    width:194px; 
    height:163px;
}
.team .team-k {
    background: url(../images/team-k.jpg) no-repeat top; 
    width:194px; 
    height:163px;
} 
.team .team-joe {
    background: url(../images/team-joe.jpg) no-repeat top; 
    width:194px; 
    height:163px;
} 
.team .team-te {
    background: url(../images/team-te.jpg) no-repeat top; 
    width:194px; 
    height:163px;
} 
.team .team-mkt{
    background: url(../images/team-mkt.jpg) no-repeat top; 
    width:194px; 
    height:163px;
} 
.team .team-aom {
    background: url(../images/team-aom.jpg) no-repeat top; 
    width:194px; 
    height:163px;
} 
.team .team-cs {
    background: url(../images/team-cs.jpg) no-repeat top; 
    width:194px; 
    height:163px;
}  
.team .team-ann {
    background: url(../images/team-ann.jpg) no-repeat top; 
    width:194px; 
    height:163px;
}  
.team .team-ux {
    background: url(../images/team-ux.jpg) no-repeat top; 
    width:194px; 
    height:163px;
}  
.team .team-boom {
    background: url(../images/team-boom.jpg) no-repeat top; 
    width:194px; 
    height:163px;
}  
.team .team-tum {
    background: url(../images/team-tum.jpg) no-repeat top; 
    width:194px; 
    height:163px;
}  
.team .team-ta {
    background: url(../images/team-ta.jpg) no-repeat top; 
    width:194px; 
    height:163px;
}  
.team .team-wh {
    background: url(../images/team-wh.jpg) no-repeat top; 
    width:194px; 
    height:163px;
} 
.team .team-acc{
    background: url(../images/team-acc.jpg) no-repeat top; 
    width:194px; 
    height:163px;
} 

.teamspecial h3{ 
    margin:0;
    font-size:15px; 
    font-family:'Open Sans', tahoma, Helvetica, sans-serif; 
    color:#333333; 
}
.teamspecial .width120{ 
    width:120px; 
    display:block; 
}
.teamspecial .special-ann{
    background: url(../images/special-ann.jpg) no-repeat top; 
    width:120px; 
    height:102px;
}
.teamspecial .special-aom{
    background: url(../images/special-aom.jpg) no-repeat top; 
    width:120px; 
    height:102px;
}
.teamspecial .special-l{
    background: url(../images/special-l.jpg) no-repeat top; 
    width:120px; 
    height:102px;
}
.teamspecial .special-p{
    background: url(../images/special-p.jpg) no-repeat top; 
    width:120px; 
    height:102px;
}
.teamspecial .special-pu{
    background: url(../images/special-pu.jpg) no-repeat top; 
    width:120px; 
    height:102px;
}
.teamspecial .special-mkt{
    background: url(../images/special-mkt.jpg) no-repeat top; 
    width:120px; 
    height:102px;
}
.teamspecial .special-m{
    background: url(../images/special-m.jpg) no-repeat top; 
    width:120px; 
    height:102px;
}
.teamspecial .special-n{
    background: url(../images/special-n.jpg) no-repeat top; 
    width:120px; 
    height:102px;
}
.teamspecial .special-rest{
    background: url(../images/special-rest.jpg) no-repeat top; 
    width:120px; 
    height:102px;
}
.teamspecial .special-j{
    background: url(../images/special-j.jpg) no-repeat top; 
    width:120px; 
    height:102px;
}
.teamspecial .special-e{
    background: url(../images/special-e.jpg) no-repeat top; 
    width:120px; 
    height:102px;
}
.teamspecial .special-off{
    background: url(../images/special-off.jpg) no-repeat top; 
    width:120px; 
    height:102px;
}
.teamspecial .special-k{
    background: url(../images/special-k.jpg) no-repeat top; 
    width:120px; 
    height:102px;
}
.teamspecial .icon-googleapps{
    background: url(../images/icon-googleapps.gif) no-repeat top; 
    width:27px; 
    height:28px;
    padding:0 14px; 
    margin-left:5px;
}
.teamspecial .icon-itpec{
    background: url(../images/icon-itpec.gif) no-repeat center; 
    width:54px; 
    height:19px;
    padding:0 27px; 
    margin-left:5px;
}
.teamspecial .icon-symantec{
    background: url(../images/icon-symantec.gif) no-repeat center; 
    width:57px; 
    height:16px;
    padding:0px 30px 3px 30px; 
    margin-left:5px;    
}
.teamspecial .icon-cpanel{
    background: url(../images/icon-cpanel.gif) no-repeat center; 
    width:54px; 
    height:17px;
    padding:0 30px; 
    margin-left:5px;
}
.teamspecial ul.blackbullet{ 
    padding:0; 
    margin:0 0 0 20px
}
.teamspecial ul.blackbullet li{
     list-style: url(../images/black-arrow.gif); 
     line-height:1.4em; 
}
.teamspecial tr td.pad{ 
    padding-top:0px; 
    padding-left:10px;
}
.dialog{ 
    font-size:14px;
    padding:1px; 
    margin:0; 
    color:#2a2a2a;
    font-family:Arial, Verdana, tahoma, Helvetica, sans-serif; 
    background:#FFFFFF;
}
.dialog .content{ 
    padding:20px;
}
.dialog ul.bullet{ 
    padding:0; 
    margin:0 0 0 20px
}
.dialog ul.bullet li{
     list-style: url(../images/blue-arrow.gif); 
     line-height:1.8em; 
}
.dialog ul.bullet li .dialog ul.sub-bullet{ 
    padding:0; 
    margin:0 0 0 30px;
    list-style: url(../images/sub-arrow.gif); 
}
.dialog .vision td{ 
    padding-bottom:40px;
}
.dialog .vision .bg-arrow{ 
    padding-top:0px; 
    background: url(../images/bgarrow.gif) no-repeat top left;  
    width: 320px; 
    min-height:57px; 
}
.dialog .vision .bg-arrow2{ 
    padding-top:0px;  
    background: url(../images/bgarrow2.gif) no-repeat top left;
    min-height:76px; 
    width: 320px; 
}
.dialog .vision h2{ 
    padding:7px 50px 0px 25px; 
    font-size:16px; 
    font-weight: normal; 
    color:#2a2a2a; 
    line-height:1.2em; 
}
.dialog  h3{ 
    font-size:16px; 
    font-weight:  bold; 
}
.dialog .bg { 
    padding:0; 
    margin:0; 
}
.dialog .padb { 
    padding-bottom:8px; 
}
.dialog h1.title{ 
    background: url(../images/line.gif) repeat-x bottom; 
    padding:20px 10px 5px 10px; 
    margin:0;
    color:#52a1da; 
    font-size:24px; 
    font-weight:normal; 
}
.dialog h2.subtitle{ 
    padding:10px 0px 5px 0px; 
    border-bottom:#c1c1c1 solid 1px; 
    margin:0 0 20px 0;
    color:#2a2a2a; 
    font-size:20px; 
    font-weight:bold; 
    line-height:1.3em; 
}

.dialog a:hover, .dialog a:active  { 
    font-size:14px; 
    color: #5E9CD0; 
}
.dialog .txt { 
    font-size:14px; 
    color:#2a2a2a; 
}
.dialog .slogan { 
    font-size:16px; 
    line-height:1.6em; 
}
.dialog .para { 
    font-size:14px; 
    margin-bottom:20px; 
}
.dialog .para div { 
    margin-left:15px; 
}
.dialog .bgimg{ 
    background: url(../images/boss.jpg) no-repeat top; 
    width:327px; 
    height:213px; 
}
.dialog .marbot { 
    padding:0; 
    margin:0;
    margin-bottom:10px; 
    font-size:15px; 
    line-height:1.4em; 
}

.dialog .symantec{ 
    background: url(../images/symantec.jpg) no-repeat top; 
    width:152px; 
    height:88px; 
    display:block; 
}
.dialog .cpanel{ 
    background: url(../images/cpanel.jpg) no-repeat top; 
    width:152px; 
    height:88px; 
    display:block; 
}
.dialog .owncloud{ 
    background: url(../images/owncloud.jpg) no-repeat top; 
    width:159px; 
    height:80px; 
    display:block; 
}
.dialog .google{ 
    background: url(../images/google.jpg) no-repeat top; 
    width:145px; 
    height:101px;
    display:block;  
}
.dialog .onapp{ 
    background: url(../images/onapp.jpg) no-repeat top; 
    width:146px; 
    height:62px; 
    display:block; 
}
.dialog .hyperspin{ 
    background: url(../images/hyperspin.jpg) no-repeat top; 
    width:146px; 
    height:62px; 
    display:block; 
}
.dialog .policy{ 
    line-height:1.7em;
}
.dialog h1.toptitle{ 
    color:#000; 
    font-size:20px; 
    font-weight: normal;
}
.dialog h2{ 
    color:#000; 
    font-size:16px; 
    font-weight:bold; 
}
.dialog h2.linetitle{ 
    color:#414d8d; 
    font-size:18px; 
    font-weight:bold; 
    border-bottom:#a6acca  dashed  1px; 
}
.dialog h3{ 
    color:#d4560a; 
    font-size:16px; 
    font-weight:bold; 
}
.dialog h4{ 
    color:#f48214; 
    font-size:16px; 
    font-weight:bold; 
}
.dialog .policy p{ 
    text-indent: 25px; 
}
.dialog .policy .tbl-policy{ 
    border:#CCCCCC solid 1px; 
}
.dialog .policy .tbl-policy th{ 
    background:#d6e2e7;
}
.dialog .policy tr.odd{ 
    background:#fff;
}
.dialog .policy tr.even{ 
    background:#ececec;
}
.dialog .policy .tbl-policy td, .dialog .policy .tbl-policy th{ 
    border-right:#CCCCCC solid 1px; 
    padding:5px; 
}
.dialog .policy-bdr{ 
    background: #f6f6f6;
    border:#CCCCCC solid 1px; 
    padding:10px; 
    margin-bottom:20px; 
    margin-top:20px; 
}
.dialog .policy-img{ 
    background: url(../images/servicecondition_brand.jpg) no-repeat top; 
    width:119px; 
    height:96px; 
    display:block; 
}
.dialog .security{ 
    background: url(../images/security.gif) no-repeat top; 
    width:537px; 
    height:277px; 
    display:block; 
}
.dialog .policy p{ 
    padding:0;
    margin:0 0 20px 0; 
}
.dialog .txtred{ 
    color:#ff0000; 
}
.dialog  .contact { 
    background:#FFFFFF; 
    line-height:1.8em;
}
.dialog .contact h1.subtitle{ 
    color:#0078c8;
    font-size:20px; 
    font-family:tahoma, Verdana, Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    padding:0; 
    text-decoration:none; 
    margin-top:20px;
}
.dialog .contact h2{ 
    color:#474747;  
    font-size:18px; 
    font-family:tahoma, Verdana, Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    margin-top:20px;
    margin-bottom:30px;
}
.dialog .contact .map{ 
    display:block; 
    width:411px; 
    height: 298px;
    background:url(../images/map.jpg) no-repeat top left;
}
.dialog .contact .bigmap{ 
    display:block; 
    width:990px; 
    height: 739px;
    background:url(../images/bigmap.gif) no-repeat top left;
}
.dialog .contact .print{ 
    display:block; 
    width:104px; 
    height: 34px;
    background:url(../images/icon_print.jpg) no-repeat top left;
}
.dialog .contact .span5{ 
    float:left; 
    width:410px; 
}
.dialog .contact .span6{ 
    float:left;
    width:400px;
}
.dialog .contact .line{ 
    float:left; 
    display:block; 
    width:4px; 
    height: 500px;
    background:#c0c0c0; 
    margin-right:60px;
    margin-top:30px;
}
/**************  Start Contact Us ****************/
/**************  Start Contact Us ****************/
.feedback{ 
    color:#fff; 
    font-size:14px;
}
.feedback h2{ 
    color:#fff; 
    font-size:14px; 
    font-weight:bold;
    padding:0px 10px; 
    line-height:1.8em;
}
.feedback .bgimg{ 
    background:url(../images/bg.jpg); 
    width:100%;
    height:94px; 
    border-bottom:#484848 dashed 1px;
}
.feedback .bg{ 
    background:#252525; 
    color:#fff; 
}
.feedback .title{ 
    display:block; 
    width:auto; 
    height: 94px;
    background:url(../images/chat-title.jpg) no-repeat top left;
}
.feedback .btn, .feedback .btn:visited, .feedback .btn:hover, .feedback .btn:active  { 
    background:#000000; 
    color:#FFFFFF; 
    font-size:14px;
    padding:8px 15px; 
    text-decoration:none; 
    border:1px solid #000000; 
}
.feedback .btn:hover, .feedback .btn:active { 
    background: #191919; 
    text-decoration:none; 
}
.feedback .box{ 
    display:block; 
    width:430px; 
    padding:5px; 
    background:#fff; 
    border:0;
}
.feedback .pad{ 
    text-align:center; 
}



/**************** Teamwork *******************/

.websubmenu{font-size:16px;}
.websubmenu .link{border-bottom:1px solid #cccccc; padding:5px 0; margin:0;}
.websubmenu td.column1{font-size:16px; border-right:#CCCCCC solid 1px;  padding-right:10px;}
.websubmenu td.column2{border:0; padding-left:10px; padding-right:5px;}
.websubmenu a.btn, .websubmenu a.btn:hover{ background:#d9d9d9; color:#000; width:94px; height:25px; padding:5px; margin-top:10px; border:0;}
.websubmenu a.btn:hover{ color:#52a1da; }

#global-menu ul{ 
        list-style: none; margin:0 0 0 0; padding:2px 0 0px 0;}
        #global-menu
        {
            font-weight: 400;
            position: absolute;
            font-family:tahoma, Verdana, Arial, Helvetica, sans-serif; 
            font-size:16px; 
            z-index:20; 
        }

            #global-menu > a
            {
                display: none;
            }

            #global-menu li
            {
                position: relative;
            }
                #global-menu li a
                {
                    color: #3a3a3a;
                    display: block; 
                    
                }
                #global-menu li a:active
                {
                    background-color: #52a1da !important;
                    text-decoration: underline;
                }

            #global-menu span:after
            {
                width: 0;
                height: 0;
                border: 0.313em solid transparent; 
                border-bottom: none;
                border-top-color: #C1C1C1;
                content: '';
                vertical-align: middle;
                display: inline-block;
                position: relative;
                right: -0.313em; 
            }

            /* first level */

            #global-menu > ul
            {
                height: 2.1em; /* 60 */
                background-color: #103546;
                
            }
                #global-menu > ul > li
                {
                    width: auto;
                    float: left;
                    -webkit-transition: 0.7s;
                    -moz-transition: 0.7s;
                    transition: 0.7s;
                }
                    #global-menu > ul > li > a
                    {
                        font-size: 0.85em; /* 24 */
                        text-align: center;
                        padding:6px 10px 8px 10px; 
                        -webkit-transition: 0.7s;
                        -moz-transition: 0.7s;
                        transition: 0.7s;
                        color: #8f8f8f;
                        text-decoration: none;
                    }
                        #global-menu > ul > li:not( :last-child ) > a
                        {
                            /*border-right: 1px solid #cccccc;*/
                        }
                        #global-menu > ul > li:hover > a,
                        #global-menu > ul:not( :hover ) > li > a.active
                        {
                            background-color: #52a1da; 
                            color:#FFFFFF;
                        
                        }
                        


                /* second level */

                #global-menu li ul
                {
                    background-color: #fff;
                    border-top:#52a1da solid 10px;
                    display: none;
                    position: absolute;
                    top: 100%; 
                    width:580px;
                    color:#383737;
                    font-family:'supermarket', tahoma, Verdana, Arial, Helvetica, sans-serif; 
                }
                    #global-menu li:hover ul li
                    {
                        font-size:14px; 
                        line-height:1.6em;
                        font-family:'supermarket', tahoma, Verdana, Arial, Helvetica, sans-serif; 
                    }
                    #global-menu li:hover ul
                    {
                        display: block;
                        left: 0;
                        right: 0;
                        padding:5px; 
                        
                        
                        border: 1px solid #52a1da;
                        border-top: 0;
                        font-family:'supermarket', tahoma, Verdana, Arial, Helvetica, sans-serif; 
                    }
                        #global-menu li:not( :first-child ):hover ul
                        {
                            left: -1px;
                            font-family:'supermarket', tahoma, Verdana, Arial, Helvetica, sans-serif; 
                        }
                        #global-menu li ul a
                        {
                            /*border-top: 1px solid #52a1da;*/
                            padding:2px 8px; 
                            font-size:16px; 
                            font-family:'supermarket', tahoma, Verdana, Arial, Helvetica, sans-serif; 
                            color:#383737;
                        }
                            #global-menu li ul li a:hover,
                            #global-menu li ul:not( :hover ) li.active a
                            {
                                /*background-color: #52a1da;*/
                                color:#52a1da;
                                padding:2px 8px;
                            }


        @media only screen and ( max-width: 62.5em ) /* 1000 */
        {
            #global-menu
            {
                width: 100%;
                position: static;
                margin: 0;
            }
        }

        @media only screen and ( max-width: 40em ) /* 640 */
        {
            
            .bgnavigator br { display:none;}
            #global-menu
            {
                position: relative;
                top: auto;
                right: 0; 
                padding-top: 7px;
                padding-bottom:5px;
            }
                #global-menu > a
                {
                    width: 3.125em; /* 50 */
                    height: 3.125em; /* 50 */
                    text-align: left;
                    text-indent: -9999px;
                    background-color: #183546;
                    position: relative; 
                    margin:0 auto; 
                    
                }
                    #global-menu > a:before,
                    #global-menu > a:after
                    {
                        position: absolute;
                        top: 35%;
                        left: 25%;
                        right: 25%;
                        content: '';
                    }
                    #global-menu > a:after
                    {
                        top: 60%;
                    }

                #global-menu:not( :target ) > a:first-of-type,
                #global-menu:target > a:last-of-type
                {
                    display: inline;
                }


            /* first level */

            #global-menu > ul
            {
                height: auto;
                display: none;
                position: absolute;
                left: 0;
                right: 0; 
                background-color:#efefef; 
            }
                #global-menu:target > ul
                {
                    display: block;  
                }
                #global-menu > ul > li
                {
                    width: 100%;
                    float: none;
                }
                    #global-menu > ul > li > a
                    {
                        height: auto;
                        text-align: left;
                        padding: 0.5em 0.8em; /* 20 (24) */ 
                        font-size:20px; 
                        
                    }
                        #global-menu > ul > li:not( :last-child ) > a
                        {
                            border-right: none;
                            border-bottom: 1px solid #c1c1c1; 
                            
                        }


                /* second level */

                #global-menu li ul
                {
                    position: static;
                    padding: 1.25em; /* 20 */
                    padding-top: 0;
                    color:#fff;
                    width:100%; 
                    border:0;
                }
                #global-menu li ul li ul
                {
                    border:0;
                }
                #global-menu li ul li
                {
                    padding: 3px;
                }
                #global-menu li ul li a
                {
                    font-size:18px;
                }
        }



.clearit{ 
    clear:both; 
    padding:0;
     margin:0;
}
.left{ 
    float:left;
}
.right{ 
    float:right;
}
.txt{ 
    color:#ff7b00; 
    font-weight:bold;

}
.hidden {
  display: none;
  visibility: hidden;
}

.visible-phone {
  display: none;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.visible-desktop {
  display: inherit !important;
}


@media (min-width:480px){
    .txt-top{ 
        margin-left : 15px;
        padding-top:15px;
    }
}

@media (max-width:767px){
    .topmenu .hidden-logo{ display:none;}
}

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: none !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
 }
 
 #inside-menu ul{ 
        list-style: none; margin:0 0 0 0; padding:2px 0 0px 0;}
        #inside-menu
        {
            font-weight: 400;
            position: absolute;
            font-family:tahoma, Verdana, Arial, Helvetica, sans-serif; 
            font-size:16px; 
            z-index:20; 
        }

            #inside-menu > a
            {
                display: none;
            }

            #inside-menu li
            {
                position: relative;
            }
                #inside-menu li a
                {
                    color: #3a3a3a;
                    display: block; 
                    
                }
                #inside-menu li a:active
                {
                    background-color: #52a1da !important;
                    text-decoration: underline;
                }

            #inside-menu span:after
            {
                width: 0;
                height: 0;
                border: 0.313em solid transparent; /* 5 */
                border-bottom: none;
                border-top-color: #52a1da;
                content: '';
                vertical-align: middle;
                display: inline-block;
                position: relative;
                right: -0.313em; /* 5 */
            }
 
 #inside-menu > ul
            {
                height: 2.1em; /* 60 */
                background-color: #ffffff;
                margin-top: -37px;
                
            }
                #inside-menu > ul > li
                {
                    width: auto;
                    float: left;
                    -webkit-transition: 0.7s;
                    -moz-transition: 0.7s;
                    transition: 0.7s;
                }
                    #inside-menu > ul > li > a
                    {
                        font-size: 1.2em;
                        text-align: center;
                        padding:25px 10px 20px 10px; 
                        -webkit-transition: 0.7s;
                        -moz-transition: 0.7s;
                        transition: 0.7s;
                        color: #000000;
                        text-decoration: none;
                        border: 1px solid white;
                    }
                        #inside-menu > ul > li:not( :last-child ) > a
                        {
                            
                        }
                        #inside-menu > ul > li:hover > a,
                        #inside-menu > ul:not( :hover ) > li > a.active
                        {
                            background-color: #ECEFF1;
                            border: 1px solid #c2c2c2;
                            color:#000000;
                        
                        }

/*************hamberger menu***********/
.bgnav-mobile {
background: #eeeeee;
margin: 5px 0 0 0;
padding: 0;
}

.nav .caret {
  border-top-color: #285e84;
  border-bottom-color: #285e84;
}

.nav a:hover .caret {
  border-top-color: #2a6496;
  border-bottom-color: #2a6496;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar {
  position: relative;
  z-index: 1000;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar:before,
.navbar:after {
  display: table;
  content: " ";
}

.navbar:after {
  clear: both;
}

.navbar:before,
.navbar:after {
  display: table;
  content: " ";
}

.navbar:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
  
}

.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}

.navbar-header:after {
  clear: both;
}

.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}

.navbar-header:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse { 
  /*max-height:380;*/
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.collapse{
    padding:0px;
    margin:0px; 
}
.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse.in {
  overflow-y: auto;
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -15px;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  .navbar-collapse .navbar-text:last-child {
    margin-right: 0;
  }
}

.container > .navbar-header,
.container > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-static-top {
  border-width: 0 0 1px;
}

@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  border-width: 0 0 1px;
}

@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}

.navbar-fixed-top {
  top: 0;
  z-index: 1030;
}

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
}

.navbar-brand {
  float: left;
  padding: 5px 3px;
  font-size: 18px;
  line-height: 20px; 
  color:#FFFFFF;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 6px 5px 6px 5px;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-left: 6px;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
@media (min-width: 769px) {
    .sd-bgcheckdomain{
        background: #a8bd99 url(../images/bg-checkdimain.png) left top no-repeat;
        display:block; 
        width:100%; 
        padding:30px 0 15px 0; 
        margin:0;
    }
    .sd-bgcheckdomain-mobile{
        display:none;
    }
}
.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (max-width: 767px) {
  .navbar-default, .bgnav-mobile {
  background:#EEEEEE !important;  /* Navigator */
  margin:0;
  padding:0;
}
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height:40px;
  }
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
}

.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
  .bgnav{
    background: #285e84; 
  }
}

@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .bgnav{
    background: #fff; 
  }
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.navbar-nav.pull-right > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar-text {
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .navbar-text {
    margin-right: 15px;
    margin-left: 15px;
  }

}


.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #bdd6e7;
  background-color: transparent;
}

.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
    margin:0px;
    padding:0.2em 1em;
    font-size:16px; 
    font-family: 'Athiti', sans-serif; 
    font-style: normal;
    font-weight: 500;
    text-decoration:none;
    color: #fff;
    background: #5290f5;/* Navigator */
    
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;  
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    margin:0px;
    padding:0.2em 1em;
    font-size:18px; 
    font-weight:normal; 
    font-family: 'Athiti', sans-serif; 
    font-style: normal;
    font-weight: 500;
    color: #5290f5;
    background-color: #5290f51;
        
    border-radius: 0px;     
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
        
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;   
}
.navbar-default .navbar-nav > li > a:hover{
    background: #ECF0F1;    
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    margin:0px;
    margin-right:5px;
    padding:0.2em 1em;
    font-size:16px; 
    font-weight:normal; 
    font-family: 'Athiti', sans-serif;
    text-decoration:none;
    color: #fff;
    background: #25aae1;
        
    border-radius: 0px;     
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px;     
    
    -moz-transition:color 0.3s ease-out;
    -webkit-transition:color 0.3s ease-out;
    -o-transition:color 0.3s ease-out;
    transition:color 0.3s ease-out;
}
.nav li.active{
    margin:0px;
    font-size:16px; 
    font-weight:normal; 
    font-family:Verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
    color: #fff;
        
    border-radius: 0px;     
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
        
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; 
}
.nav li.active a{
    color: #fff;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #5290f5;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #5290f5;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #c9dbe8;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #285e84;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;

}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #0971f2;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #285e84;
  border-bottom-color: #285e84;
}

.hr-menu
{
    margin-top: 10px;
    margin-bottom: 5px;
}

.no-link{
    
    color: #999999; 
    padding: 5px 15px 5px 25px;
    font-size: 12px;
    font-size: 12px;
    font-weight: 600;
    
}



@media (max-width: 767px) {
    
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #717171;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #8ec63f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.navbar-default .navbar-link {
  color: #777777;
}

.navbar-default .navbar-link:hover {
  color: #333333;
}

.navbar-inverse {
  background-color: #222222;
  border-color: #080808;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-inverse .navbar-text {
  color: #999999;
}

.navbar-inverse .navbar-nav > li > a {
  color: #999999;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: #333333;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333333;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #080808;
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}

.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #999999;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}

.navbar-inverse .navbar-link {
  color: #999999;
}

.navbar-inverse .navbar-link:hover {
  color: #ffe62f;
}
.txt-hashtag {
    color: yellow;
    font-weight: 500; 
}
.txt-subscribe {
    color:#FFF;
    font-weight: 500;
    folat:left; 
    font-style: normal; 
}
hr.bottom-img-footer{
    margin: 20px 0;
    border:0;
    border-bottom: 2px solid #0052cd; 
}
hr.div-footer{
    margin: 20px 0;
    border: 0;
    border-bottom: 1px solid #ccc;
}

/**header corporate**/
    .card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("/templates/netwaybysidepad/images/colo-bg.gif");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    /*width: 100px;
    height: 100px;*/
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.avatar-mobile {
    vertical-align: middle;
    width: 30px;
    /*height: 30px;*/
    margin: -5px -10px 0px -5px;
    border-radius: 50%;
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-card {
    padding: 5px 10px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    }    
 .btn-card:hover {
     background-color: white;
 }
 .topmenu img{
    padding-top:0px !important;
}
