.section .cp-btn{
    color: inherit;
    white-space: nowrap;
    margin: 0 5px 0 0;
}
.section .cp-btn:hover{
    text-decoration: none;
}
.row-fluid [class^=span] .form-control {
    width: calc(100% - 14px);
}
/*
DB Widget
*/
.loading{
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}
.loading td:last-child::after{
    display: block;
    content: "";
    background: url(loading.gif) no-repeat;
    width: 15px;
    height: 15px;
}
.loading td:last-child input{
    display: none;
}
.tr-lead,
.tr-follower{

}
.tr-follower .table td{

}
.tr-follower{
    display:none;
}
.table .no-padding{
    padding: 0!important;
}
.table .no-padding .table{
    margin: -1px 0 0 0;
    background: none;
}
.manage-cnt {
    line-height: 15px;
}
#widget-section .form-inline input{
    margin: 0;
    vertical-align: middle;
}