[submodule "cms/main/cms.main"]
	path = cms/main/cms.main
	url = https://github.com/rvsitebuilder/cms.git
	branch = main
[submodule "cms/main/cdn.rvtheme.com.main"]
	path = cms/main/cdn.rvtheme.com.main
	url = https://github.com/rvsitebuilder-service/cdn.git
	branch = main
[submodule "rvglobalsoft/main/rvglobalsoft.com"]
	path = rvglobalsoft/main/rvglobalsoft.com
	url = https://github.com/netway/rvglobalsoft.com.git
	branch = main
[submodule "netway/main/billing.netway.co.th"]
	path = netway/main/billing.netway.co.th
	url = https://github.com/netway/billing.netway.co.th.git
	branch = main
