/* CSS Document */


/*@font-face {
    font-family: 'THNiramitAS';
    src: url('fonts/TH-Niramit-AS.eot');
    src: url('fonts/TH-Niramit-AS.eot?#iefix') format('embedded-opentype'),
        url('fonts/TH-Niramit-AS.woff') format('woff'),
        url('fonts/TH-Niramit-AS.ttf') format('truetype'),
        url('fonts/TH-Niramit-AS.svg#TH-Niramit-AS') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
/*@font-face {
    font-family: 'supermarket';
    src: url('fonts/supermarket.eot');
    src: url('fonts/supermarket.eot?#iefix') format('embedded-opentype'),
        url('fonts/supermarket.woff') format('woff'),
        url('fonts/supermarket.ttf') format('truetype'),
        url('fonts/supermarket.svg#supermarket') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'superspace_bold';
    src: url('fonts/superspace_bold_ver_1.00-webfont.woff2') format('woff2'),
         url('fonts/superspace_bold_ver_1.00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'superspace_regular';
    src: url('fonts/superspace_regular_ver_1.00-webfont.woff2') format('woff2'),
         url('fonts/superspace_regular_ver_1.00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'superspace_light';
    src: url('fonts/superspace_light_ver_1.00-webfont.woff2') format('woff2'),
         url('fonts/superspace_light_ver_1.00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Font Netway Q1 -> 2018*/
@font-face {    
    /*Thai*/
    font-family: 'Arial';
    src: url('fonts/arial.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;

}

@font-face {
    /*Eng*/
    font-family: 'Roboto';
     src: url('fonts/Roboto-Regular.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;

}