@font-face {
    font-family: 'DSNAsa'; 
    src: url('fonts/dsnpatpong-webfont.eot');
    src: url('fonts/dsnpatpong-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dsnpatpong-webfont.woff') format('woff'),
         url('fonts/dsnpatpong-webfont.ttf') format('truetype'),
         url('fonts/dsnpatpong-webfont.svg#DSNPatPongRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

