<script id="result-row-data" type="text/x-handlebars-template">
    <div class="result-data">
        <div class="result-hostname font-weight-bold d-flex flex-row align-items-center" title="{{hostname}}">
            <span class="result-sld mid max">{{dots sld tld 50}}</span>
            <span class="result-tld">{{tld}}</span>
            {{#eq status ''}}
                <a href="#whois/{{hostname}}" class="d-none d-md-inline-block result-whois-link ml-2 small">whois</a>
            {{/eq}}
        </div>
    </div>
    <div class="result-actions d-flex flex-row align-items-center">
    {{#if premium}}
            <label class="badge text-danger mr-5">{{lang "premium"}}</label>
    {{/if}}
    {{#if before.price}}
        {{#ifCond before.price '>' 0}}
            <div class="result-oldprice mx-4">
            <span class="price-old-amount text-secondary "><del>{{$ before.price}}</del></span>
            </div>
        {{/ifCond}}
    {{/if}}
    {{#if price}}
        <div class="result-price mx-4">
        <span class="price-amount text-primary ">{{$ price.price}}</span>
            <span class="d-none d-md-inline-block price-period text-muted small">{{price.title}}</span>
        </div>
    {{else}}
        <div class="result-price empty"></div>
    {{/if}}
    {{#if canRegister}}
        <a class="result-button btn btn-primary text-white btn-border1px btn-rounded btn-sm domain-register">
            <span class="d-inline-block d-md-none material-icons size-sm">add_shopping_cart</span>
            <span class="d-none d-md-inline-block">
                <i class=" material-icons size-sm mr-2">shopping_cart</i>
                {{lang "register"}}
            </span>
        </a>
    {{else if canTransfer}}
        <a class="result-button btn btn-primary text-white btn-border1px btn-rounded btn-sm domain-transfer">
            <span class="d-inline-block d-md-none material-icons size-sm">add_shopping_cart</span>
            <span class="d-none d-md-inline-block">
                <i class="material-icons size-sm mr-2">compare_arrows</i>
                {{lang "transfer"}}
            </span>
        </a>
    {{else eq status -1}}
        <a class="result-button btn btn-sm btn-outline-primary btn-border1px btn-rounded disabled domain-loading btn-sm">
            <div class="cart_preloader">
                <div class="cart_preloader_line bg-primary"></div>
                <div class="cart_preloader_line bg-primary"></div>
                <div class="cart_preloader_line bg-primary"></div>
            </div>
        </a>
    {{else}}
        <a class="result-button btn btn-sm btn-secondary disabled domain-noaction">{{lang "Unavailable"}}</a>
    {{/if}}
    <div class="result-incart">
        <a href="#remove" class="btn btn-danger btn-sm result-remove" title="{{lang "removefromcart"}}">
            <i class="material-icons size-sm">delete</i>
            <span class="d-none d-md-inline-block min mid ml-2">{{lang "removefromcart"}}</span>
        </a>
    </div>
    </div>
</script>






<script id="result-row" type="text/x-handlebars-template">
    <div class="result-row border-bottom py-3 d-flex flex-row justify-content-between justify-content-md-between aling-items-center {{#if lazy}}lazy{{/if}} {{#if inCart}}active{{/if}}" id="{{htmlId}}" data-id="{{@key}}" data-loader="whois">
        {{> resultRowData }}
    </div>
</script>









<script id="result-group" type="text/x-handlebars-template">
    {{#each items}}
        <div class="result-query">{{lang "resultsfor"}}: <span class="result-query-text text-primary">{{query}}</span></div>
        <div class="result-group d-flex flex-column" data-id="{{@key}}">
            {{#each display}}
                {{> resultRow }}
            {{/each}}
        </div>
    {{/each}}
</script>





<script id="summary-details" type="text/x-handlebars-template">
    <div class="domain-search-summary-details-table">
        <table class="table table-borderless w-100">
            <thead class="thead-transparent">
            <tr>
                <th class="static" width="60%" align="left">{{lang "Domain"}}</th>
                <th class="static" width="10%">{{lang "setup"}}</th>
                <th class="static" width="30%">{{lang "price"}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each domains}}
                <tr class="summary-box-row-item " data-hostname="{{name}}" data-id="{{htmlId}}">
                    <td colspan="2">
                        {{#ifeq type 'register'}}
                            <span class="badge badge-primary mr-2">{{lang "register"}}</span>
                        {{/ifeq}}
                        {{#ifeq type 'transfer'}}
                            <span class="badge badge-primary mr-2">{{lang "transfer"}}</span>
                        {{/ifeq}}
                        <b>{{name}}</b> - {{period}} {{lang "years"}}
                    </td>
                    <td>
                        {{$ price}}
                        {{#if before}}
                            <span class="text-secondary ml-2"><del>{{$ before}}</del></span>
                        {{/if}}
                        <a href="#remove" class="float-right btn btn-sm btn-outline-danger ml-3 result-remove">{{lang "removefromcart"}}</a>
                    </td>
                </tr>
            {{/each}}
            {{#if summary.recurring}}
            <tr>
                <td class="text-right" colspan="2">
                    {{lang "total_recurring"}}
                </td>
                <td>
                    {{#each summary.recurring}}
                    {{$ price}} {{title}}<br>
                    {{/each}}
                </td>
            </tr>
            {{/if}}
            {{#if summary.discount}}
            <tr>
                <td class="text-right" colspan="2">
                    {{lang "discount"}}
                </td>
                <td>
                    - {{$ summary.discount}}
                </td>
            </tr>
            {{/if}}
            {{#if summary.tax}}
            {{#each summary.tax}}
            <tr>
                <td class="text-right" colspan="2">
                    {{name}} @ {{value}} %
                </td>
                <td>
                    {{$ tax}}
                </td>
            </tr>
            {{/each}}
            {{else if summary.credit}}
            <tr>
                <td class="text-right" colspan="2">
                    {{lang "credit"}}
                </td>
                <td>
                    {{$ summary.credit}}
                </td>
            </tr>
            {{/if}}
            <tr>
                <td class="text-right" colspan="2">
                    <strong>{{lang "total_today"}}</strong>
                </td>
                <td>
                    <h3><b>{{$ summary.total}}</b></h3>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
</script>