/public_html/templates_c
/public_html/downloads
/public_html/attachments
/public_html/.htaccess
/Resource
/migrate/last_migrated_sql.ini
/.env
/attachments/*
!/attachments/index.php
/downloads/*
!/downloads/index.php
/templates_c/*
!/templates_c/index.php
/ngrok
/.bash_logout
/.bash_profile
/.bashrc
/.contactemail
/.cpanel/
/.cphorde/
/.lastlogin
/.spamassassin/
/.spamassassinboxenable
/.spamassassinenable
/access-logs
/etc/
/logs/
/mail/
/ssl/
/tmp/
/www
/.history/public_html/*
/.bash_history
/.trash/
/error_log
/.gnupg/trustdb.gpg
/public_html/qrPaymentTag30
/public_html/scriptUpdateVendorHostbill.php
/public_html/.github
/public_html/.git
/.htaccess
/.user.ini
/php.ini
/public_html.backup/
/public_html/.htaccess_06032021
/public_html/.user.ini
/public_html/php.ini
test.txt
/public_html/templates/2019/dist/css/custom_darkmode.min.css
/public_html/templates/2019/dist/css/custom.min.css
/public_html/includes/extend/whois/whois-custom.php
/public_html/templates/orderpages/product_categories/*
node_modules/
