@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.clearBoth{ clear: both; }
.serviceType { display: block; }
.serviceType div { display: block; float: left; font-size: 1.4em; font-weight: bold; }

#serviceTypeDisplay > ul { list-style: none; margin:0px; padding:0px; text-align: left; }
#serviceTypeDisplay > ul > li { 
    display:block; float: left; padding: 10px 20px 0 10px; font-size: 1.2em; 
    border-left: 1px dotted #CCCCCC; border-top: 1px dotted #CCCCCC;
    }
#serviceTypeDisplay > ul > li > a { color: white; text-decoration: underline; }
#serviceTypeDisplay div { clear: both; display: block; }

.selectTypeYes {border-bottom: 1px dotted #428CB0;  background-color:#428CB0; font-weight:bold;}
.selectTypeNo {border-bottom: 1px dotted #CCCCCC; background-color:#C0D9E5; font-weight:normal;}

#serviceCatalogDisplay > ul { list-style: none; margin:0px; padding:0px; text-align: left; }
#serviceCatalogDisplay > ul > li { 
    display:block; float: left; padding: 10px 20px 0 10px; font-size: 1.2em; 
    border-left: 1px dotted #CCCCCC; border-top: 1px dotted #CCCCCC;
    }
#serviceCatalogDisplay > ul > li > a { color: white; text-decoration: underline; }
#serviceCatalogDisplay > div { clear: both; display: block; }

.serviceCatalogTab { list-style: none; margin:0px; padding:0px; text-align: left; }
.serviceCatalogTab > li {
    display:block; float: left; padding: 10px 20px 0 10px; font-size: 1.2em;
    border-left: 1px dotted #CCCCCC; border-top: 1px dotted #CCCCCC;
    }
.serviceCatalogTab > li:last-child {
    border-right: 1px dotted #CCCCCC;
    }
.serviceCatalogTab > li > a {
    color: black; text-decoration: underline; padding-left: 50px; padding-right: 50px; line-height: 20px;
    }
#serviceCatalogInfo, #serviceCatalogPolicy, #serviceCatalogFulfillment {
    border: 1px dotted #CCCCCC; padding: 5px;
    border-left: 10px solid #CCCCCC;
    border-top: 5px solid #CCCCCC;
}

.incidentKBTab { list-style: none; margin:0px; padding:0px; text-align: left; }
.incidentKBTab > li {
    display:block; float: left; padding: 10px 20px 0 10px; font-size: 1.2em;
    border-left: 1px dotted #CCCCCC; border-top: 1px dotted #CCCCCC;
    }
.incidentKBTab > li:first-child {
    background-color: #CCCCCC;
    }
.incidentKBTab > li:last-child {
    border-right: 1px dotted #CCCCCC;
    }
.incidentKBTab > li > a {
    color: black; text-decoration: underline; padding-left: 50px; padding-right: 50px; line-height: 20px;
    }
#incidentKBInfo, #incidentKBPolicy {
    border: 1px dotted #CCCCCC; padding: 5px;
    border-left: 10px solid #CCCCCC;
    border-top: 5px solid #CCCCCC;
}

input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:36px;
    height:29px; 
    display:inline-block;
    line-height:29px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:12px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -29px;
}
label.css-label {
    background-image:url(../images/csscheckbox_55d5352f4a31e79a99596e78399661aa.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tdGray td{ background-color: #DBDBDB;}
.tdGray2 td{ background-color: #EFEFEF;}

.imp_msg_data {
    display: block; 
    background-color: #EFEFEF; 
    border: 1px solid #AAAAAA;
    padding: 5px;
    }
    
.new_control.redbtn,a.menuitm.redbtn,.redbtn {
    text-shadow: 0 1px 0 #808080;
    background: #ff3333;
    border-color: #ff6666;
    color: #fff;
    font-weight: 700
}
.new_control.redbtn:hover,a.menuitm.redbtn:hover,.redbtn:hover {
    background: #ff9999;
    border-color: #ff4d4d;
    color: #fff;
    font-weight: 700
}
   
 
.prettyprint{background-color:#F8F8F8;border:1px solid #DDD;padding:10px;}

.box-product {
	padding-top: 14px;
	margin-right: 5px;
	width: 200px;
	min-height: 322px;
	float: left;
	margin-bottom: 15px;
}
.box-product-in {
	/*border: 1px #808080 solid;*/
	border:0;
}
.box-product-in ul {
	margin: 0;
}

.box-head{
	background:#38aed6;
	color:#fff;
	padding:20px 0 0 0;
	margin:0;
	font-size:20px;
	font-weight:normal;
	border:0;
	border-top-left-radius: 5px; 	
	-moz-border-top-left-radius: 5px; 
	-webkit-border-top-left-radius: 5px; 	
        border-top-right-radius: 5px; 	
	-moz-border-top-right-radius: 5px; 
	-webkit-border-top-right-radius: 5px; 
}
.box-head span{
	background:#04101c;
	color:#fff;
	padding:7px 0;
	margin:20px 0 0 0;
	font-weight:normal;
	font-size:16px;	
	clear: both;
	display: block;
}
.box-describe {
	cursor: pointer;
	display: block;
	text-align: center;
	font:bold 14px/20px Arial;
	background:#ccc;
	padding:20px 0;
	margin:0;
}
.box-describe span{
	color: #4389bf;
}
.box-describe ul li {
	height: auto !important;
	display: block;
	background: url("images/box_line.jpg") no-repeat 50% 100% transparent;
	padding-bottom: 5px;
	padding: 5px 0px 4px 0px;
	min-height: 21px;
	line-height: 16px;
}
.box-describe ul li:last-child,
.box-describe ul li.last {
	background: none;
}
.box-describe ol, .box-describe dl {
	display:none
}
.con-inner-middle1 {
	padding-left: 19px;
}
.button-con{
	background:#38aed6;
	padding:6px 0 2px 0;
	margin:0;	
	border:0;
	border-bottom-left-radius: 5px; 	
	-moz-border-bottom-left-radius: 5px; 
	-webkit-border-bottom-left-radius: 5px; 	
        border-bottom-right-radius: 5px; 	
	-moz-border-bottom-right-radius: 5px; 
	-webkit-border-bottom-right-radius: 5px; 
	text-align: center;
}
ul.hidden-list-dots{
	list-style-type: none;
	margin-left: -35px;
}

.selectFulfillmentGroup { 
	width:2em;
	height:2em;
}

label.comment{
	display: block;
	font-weight: 900;
	cursor: pointer;
}

.comment-avatar{
	width: 100%;
	float: left;
	margin: 5px 5px 5px 5px;
}
.comment-avatar img{
	width: 30px;
	height: 30px;
	border-radius: 5px;
}
.comment-item{
	overflow: hidden;
	width: 95%;
	clear: both;
	padding: 10px;
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	background: #ffffe6;
	margin-top: 5px;
}

.tag-incomment {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 2.4;
    white-space: nowrap;
}
.tag-incomment:hover {
    background-color: #c4dae9;
    border-bottom: 1px solid #c4dae9;
    border-right: 1px solid #c4dae9;
    text-decoration: none;
}
