 /* Start footer */
 div.border-top{
    background:#dfdfdf; 
    border-top: #d1d1d1 solid 2px;
    padding:20px 0px 0px 0px; 
    margin:0;
}
div#rvbottom {
    background:#dfdfdf; 
    padding:0; 
    margin:0;
}
div#rvbottom .block { 
    line-height:1.3em; 
    font-size:16px; 
    text-align:left; 
    padding-top:5px; 
	padding-bottom:20px; 
    float:left; 
}
div#rvbottom .block img{ 
    margin:2px 3px 2px 0px;
}
div#rvbottom .block div { 
    padding-left:0px;
}
div#rvbottom .block a:link, div#rvbottom .block a:visited, div#rvbottom .block a:active{ 
    color:#929292; 
    font-weight:normal; 
    text-decoration:none; 
	font-size:14px; 
   font-family:'Cuprum', Verdana, Arial, Helvetica, sans-serif;  
}
div#rvbottom .block a:hover{ 
    color: #333;
    font-weight:normal;
    text-decoration: none; 
    font-family:'Cuprum', Verdana, Arial, Helvetica, sans-serif;
}
div#rvbottom .block a b, div#rvbottom .block a:visited b{ 
    color: #535353;
    font-weight:normal; 
    font-size:18px; 
    text-decoration:none;
    font-family:'Cuprum', Verdana, Arial, Helvetica, sans-serif;
}
div#rvbottom .block a:hover b, div#rvbottom .block a:active b{ 
    color: #333;
    font-weight:normal; 
    text-decoration:underline;
}
div#rvbottom .block .pad{ 
    margin-bottom:10px;
}
div#rvbottom .block .pad2{ 
    margin-bottom:5px;
}
#footer{
	color: #fff; 
}	
.rvfooter{ 
	background: #aaaaaa; 
	padding:10px 5px; 
	font-size:12px;
	line-height:1.3em;
	color: #fff;  
	font-family:Verdana, Arial, Helvetica, sans-serif; 
}
.copyright{ 
	color:#000000; 
	font-size:11px; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	line-height:1.4em; 
	padding-top:10px;
}
/* END footer */
