@import url('../../../webfonts/openSans/bold.css');
@import url('../../../webfonts/lato/regular.css');
@import url('../../../webfonts/lato/italic.css');
@import url('../../../webfonts/lato/light.css');
@import url('../../../webfonts/lato/lightitalic.css');
@import url('../../../webfonts/lato/bold.css');
@import url('../../../webfonts/lato/bolditalic.css');

@font-face {
    font-family: 'openSans';
    src: url('../../../webfonts/openSans/OpenSans-Light-webfont.eot');
    src: url('../../../webfonts/openSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../webfonts/openSans/OpenSans-Light-webfont.woff') format('woff'),
         url('../../../webfonts/openSans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../../../webfonts/openSans/OpenSans-Light-webfont.svg#open_sans_lightregular') format('svg');
    font-weight: 100;
    font-style: normal;
}

.center {
	margin-left:auto;
	margin-right:auto;
}
.clear {
	clear:both;
}


.cart-page {
	width:960px;
	margin-bottom:25px;
}
.cart-page * {
	list-style:none;
	text-decoration:none;
}
.cart-page > *, .cart-page p{
	color:#656565;
	font-size:16px;
	font-family: lato, Verdana, sans-serif;
}
.hosting-type {
	font-family: openSans, Verdana, sans-serif;
	width:100%;
	margin-bottom:40px;
	text-align:center;
}
.hosting-type li {
	color:#272727;
	font-size:15px;
	font-weight:bold;
	margin-right:10px;
	display:inline-block;
}
.hosting-type li a {
	color:#0c87e5;
	font-size:15px;
	font-weight: 100;
}
.hosting-type li a:hover {
	color:#0a6db8;
}
.hosting-type li:after {
	content:'|';
	color:#999999;
	font-weight:normal;
	margin-left:10px;
}
.hosting-type li:last-child:after {
	content:'';
}


/* Setup Server */


.setup-server h1 {
	color:#343434;
	font-size:46px;
	font-weight:100;
	margin-bottom:10px;
}
.setup-server h1 span {
	color:#65a545;
	font-style:italic;
}
.setup-server p {
	font-size:14px;
	width:360px;
}
.setup-server p b, .plan-details p b, .order-summary p b {
	color:#4b4b4b;
	font-weight:bold;
	font-style:italic;
}
.bundle-slider {
	margin-top:65px;
	float: left;
}
.bundle-slider-bg {
	width:100%;
	border-radius:12px 12px 0 0;
	top: 0;
    left:0;
	height: 100%;
	position: absolute;
	box-shadow: 0 2px 4px 0 #888888 inset;
	background: none repeat scroll 0 0 #C0C0C0;
}
.bundle-active-bg {
	background:#8ccc41;
	width:51px;
	border-radius:12px;
	float: left;
	padding: 20px 0 15px;
	position: relative;
	z-index: 1;
}
.slider-separators {
	margin:auto;
	position:relative;
	width: 41px;
}
.slider-separators li {
	width:41px;
	height:11px;
    display: block;
    line-height: 1px;
    font-size: 1px;
    margin: 0;
    padding: 0;
	background: url("../img/slider-separator.png") no-repeat scroll right bottom  transparent;
}
.slider-separators li.large-separator {
	background:url("../img/slider-separator.png") no-repeat scroll left bottom transparent;
}
.slider-separators li.large-separator.first{
    height: 2px;
	margin-top: -2px;
}
.bundle-slider-path {
	background:#a2a2a2;
	width:4px;
	height:100%;
	position:absolute;
	top:0;
	left:19px;
	box-shadow:0 -2px 2px 0 #777777 inset;
}
.bundle-slider-path::after, .bundle-slider-path::before{
    content: '.';
    position: absolute;
    width:4px;
    height: 8px;
    overflow: hidden;
    
    left:0;
}
.bundle-slider-path::after{
    border-radius: 0 0 3px 3px;
    box-shadow:inset 0 -1px 2px -1px #666;
    background: none repeat scroll 0 0 #77AE37;
    top: 100%;
}
.bundle-slider-path::before{
    border-radius: 3px 3px 0 0;
    box-shadow:0 1px 2px 0 #777777 inset;
    background: none repeat scroll 0 0 #A2A2A2;
    bottom: 100%;
}
.large-slider-handle .ui-slider-range{
    border-radius: 0;
    box-shadow:0 2px 2px -1px #666666 inset;
}
.large-slider-handle .ui-slider-handle{
    left: 0;
    margin-bottom: -8px;
    margin-left: -28px;
}
.predefinied-servers {
	float: left;
	padding: 0px 0 0 9px;
	position: relative;
	z-index: 1;
}
.predefinied-server {
	height: 54px;
}
.predefinied-server .point, .predefinied-server .active-point {
	background:#cecece;
	width:14px;
	height:14px;
	border-radius:7px;
	margin:0px 15px 0 10px;
	box-shadow:inset 0 2px 2px 0 #999;
	cursor: pointer;
}
.point-bed{
    
	vertical-align: middle;
	display: table-cell;
}
.predefinied-server .active-point {
	background:#9ebc42;
}
.server-text {
	display: table-cell;
}
.predefinied-server p {
	width:150px;
	font-size:12px;
	margin:0;
}
.predefinied-server p.server-title {
	color:#343434;
	font-size:14px;
	font-weight:bold;
}
.predefinied-server p.server-price {
	color:#656565;
	font-size:12px;
	font-style:italic;
}
.predefinied-server span {
	color:#65a545;
	font-size:12px;
	font-style:italic;
	font-weight:bold;
	display:block;
}
.motherboard {
	width:702px;
	height:425px;
	margin:-70px 0 0 0px;
    padding-left: 20px;
	position:relative;
	z-index: 0;
}
.mb {
	background:url(../img/motherboard.png);
	width:702px;
	height:425px;
	float:left;
	margin:-70px 0 0 259px;
	position:absolute;
}
.opacity {
	opacity:.70; 
}
.motherboard > ul {
	margin:0;
}
.cpu-1 {
	position:absolute;
	left:355px;
	top:270px;
}
.cpu-1 li, .cpu-2 li {
	background:url(../img/cpu.png);
	width:110px;
	height:68px;
	margin-top:-80px;
	display:none;
}
.motherboard li.first-ele {
	margin:0;
}
.cpu-2 {
	position:absolute;
	left:438px;
	top:319px;
}
.hdd-1 {
	position:absolute;
	right: 10px;
	top: 214px;
}
.hdd-1 li {
	background:url("../img/disc.png") repeat scroll 0 0 transparent;
	width:230px;
	height:158px;
	display:none;
	position: relative;
	margin-top: -182px;
}
.ram-1, .ram-2, .ram-3, .ram-4 {
	background:url(../img/ram.png);
	width:202px;
	height:187px;
	position:absolute;
	display: none;
}
.ram-1 {
	right:-51px;
	bottom:129px;
}
.ram-2 {
	right:-78px;
	bottom:113px;
}
.ram-3 {
	right:-103px;
	bottom:97px;
}
.ram-4 {
	right:-129px;
	bottom:81px;
}
.hidden-ram {
}
.chip-ram {
	margin-left:64px;
	margin-top:73px;
}
.chip-ram li {
	background:url(../img/chip_ram.png);
	width:36px;
	height:66px;
	float:left;
	margin-left:8px;
	margin-top:-27px;
	display:none;
}
.chip-ram li.last-ele {
	margin-left:8px;
	margin-top:-53px;
}
.predefinied-bundles {
	width:226px;
	height:113px;
	float:right;
	margin-top:-100px;
	position:relative;
}
.predefinied-bundles p {
	color:#656565;
	text-align:right;
	width:100%;
}
.predefinied-bundles p span {
	color:#65a545;
	font-size:18px;
	font-weight:bold;
	display:block;
}
.bundles-list {
	background:#fff;
	height:30px;
	padding:0 15px;
	margin-top:5px;
	border-radius:8px;
	border:solid 1px #c1c1c1;
	box-shadow:0 1px 1px 0 #ccc;
}
.bundles-list select {
	color:#343434;
	width:100%;
	height:auto;
	font-weight:bold;
	margin:6px 0 0 0;
	padding:0;
	border:none;
}
.setup-server-shadow {
	background:url(../img/shadow.png);
	height:50px;
	margin: 33px 0 0;
	clear: both;
}


/* Plan Details */

.plan-details, .order-summary, .payment-methods, #gatewayform{
	width:548px;
	vertical-align:top;
	float: left;
    margin-bottom: 20px;
}
.payment-methods, #gatewayform{
    display:none;
}
.cart-page h2 {
	color:#343434;
	font-size:34px;
	font-weight:100;
	margin-bottom:10px;
}
.plan-details p, .order-summary p {
	font-size:14px;
	margin:0;
}
.plan-details .first-plan {
	margin-top:50px;
}
.plan-option {
	background:url(../img/plan-details-separator.png) repeat-x bottom;
	width:510px;
	margin-top:15px;
	padding-bottom:10px;
}
.plan-option p {
	color:#343434;
	font-size:18px;
	font-weight:bold;
	font-style:italic;
	float:left;
	display: inline;
}
.plan-value {
	background:#d1d1d1;
	font-weight:bold;
	font-style:italic;
	border-radius:6px;
	padding:4px 10px;
	border-bottom:solid 2px #fff;
	box-shadow:inset 0 2px 2px 0 #999;
	text-shadow:0 1px 1px #fff;
	position: absolute;
	right: 0;
	top: 0;
}
.plan-slider {
	background:#c0c0c0;
	width:510px;
	height:7px;
	margin-top:15px;
	border-radius:4px;
	border-bottom:solid 1px #fff;
	box-shadow:inset 0 1px 1px 0 #999;
	display:inline-block;
}
.no-separator {
	background:none;
}
.promotional-code-box {
	margin-top:10px;
}
.promocode-field {
	background:#d2d2d2;
	height:24px;
	margin-top:5px;
	padding:0 10px;
	display:inline-block;
	border-radius:6px;
	border-bottom:solid 2px #fff;
	box-shadow:inset 0 2px 1px 0 #aaa;
}
.promocode-field input {
	color:#444444;
	background:#d2d2d2;
	font-weight:bold;
	width:150px;
	height:21px;
	border:none;
	margin:3px 0 0;
	padding:0;
	letter-spacing:2px;
	display:inline-block;
	box-shadow:none;
}
.promocode-field a {
	color:#686868;
	font-size:12px;
	font-weight:bold;
	background:#fff;
	height:19px;
	line-height:18px;
	padding:0 5px;
	display:inline-block;
	vertical-align:top;
	margin:3px 0 0 10px;
	border-radius:4px;
	box-shadow:0 1px 1px 0 #aaa;
	background-image: linear-gradient(top, #ffffff, #e7e7e7);
	background-image: -moz-linear-gradient(top, #ffffff, #e7e7e7);
	background-image: -webkit-linear-gradient(top, #ffffff, #e7e7e7);
	background-image: -o-linear-gradient(top, #ffffff, #e7e7e7);
	background-image: -ms-linear-gradient(top, #ffffff, #e7e7e7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=0); 
	zoom:1;
}
.promocode-field a:hover {
	background:#e7e7e7;
	text-decoration:none;
}
.ui-slider.ui-slider-horizontal.slides{
    background: none repeat scroll 0 0 #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px 0 #999999 inset;
    height: 7px;
    margin-top: 15px;
    width: 510px !important;
    padding:0;
	margin: 20px 0 0;
}
.slides .ui-slider-handle:hover{
    background: url("../img/small-slider-handle.png") repeat scroll 0 0 transparent;
}
.option-custom{
    position: relative;
}

.slides .sr, .slides .sl{
    display:none;
}
/* Order Summary */

.order-summary {
	width:368px;
	margin-left:40px;
    float:right;
}
.order-summary .billing-method {
	color:#343434;
	font-size: 16px;
    line-height: 26px;
	margin-top:20px;
}
.order-summary .billing-method span {
	color:#65a545;
	font-style:italic;
}
.billing-method-field {
	float:right;
}
.billing-method-field select{
	width: 200px;
}

.billing-method-field select option {
	padding-right:10px;
}
.summary-table-bg {
	background:#d4d4d4;
	padding:15px 0 10px;
	border-radius:8px;
	box-shadow:inset 0 2px 2px 0 #999;
	border-bottom:solid 2px #fff;
	background-image: linear-gradient(top, #cccccc, #d8d8d8);
	background-image: -moz-linear-gradient(top, #cccccc, #d8d8d8);
	background-image: -webkit-linear-gradient(top, #cccccc, #d8d8d8);
	background-image: -o-linear-gradient(top, #cccccc, #d8d8d8);
	background-image: -ms-linear-gradient(top, #cccccc, #d8d8d8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#d8d8d8', GradientType=0); 
	zoom:1;
}
.summary-table-bg table {
	width:324px;
	margin-left:20px;
	border-collapse:collapse;
}
.summary-table-bg table th {
	color:#4b4b4b;
	padding-bottom:3px;
	font-size:11px;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	text-transform:uppercase;
}
.summary-table-bg table th.description-cell {
	width:224px;
}
.header-row {
	border-bottom:dashed 1px #989898;
}
.summary-table-bg table td {
	color:#4b4b4b;
	font-size:14px;
	font-weight:bold;
	padding:8px 0;
	vertical-align:top;
}
.summary-table-bg table td span {
	font-style:italic;
	font-weight:normal;
}
.total-row {
	background:#bfbfbf;
	box-shadow:inset 0 1px 2px 0 #aaa;
	border-bottom:solid 1px #fff;
}
.total-row td.total-text {
	padding-left:10px;
}
.summary-table-bg span.total-value {
	color:#7e7e7e;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
	display:block;
	text-align:right;
	text-shadow:0 1px 0 #fff;
	margin-right:20px;
	margin-top:10px;
}
.summary-table-bg p {
	color:#4b4b4b;
	font-size:30px;
	font-weight:bold;
	text-align:right;
	margin-right:20px;
	line-height:35px;
}
.order-button {
	background:#8bb73b;
	color:#fff;
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	padding:8px 0;
	display:block;
	line-height:normal;
	border-radius:6px;
	text-align:center;
	text-shadow:0 1px 0 #666;
	border-bottom:solid 2px #648b2c;
	background-image: linear-gradient(top, #97c840, #7ea635);
	background-image: -moz-linear-gradient(top, #97c840, #7ea635);
	background-image: -webkit-linear-gradient(top, #97c840, #7ea635);
	background-image: -o-linear-gradient(top, #97c840, #7ea635);
	background-image: -ms-linear-gradient(top, #97c840, #7ea635);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#97c840', endColorstr='#7ea635', GradientType=0); 
	zoom:1;
}
.order-button:hover {
	color:#fff;
	background:#7ea635;
	text-decoration:none;
}

/* IE Fix */

.summary-table-bg-fix {
	border-radius:8px;
	overflow:hidden;
	margin-top:15px;
}
.order-button-fix {
	border-radius:6px;
	overflow:hidden;
	margin-top:20px;
}

/* - */

.plan-option .btn-group{
    padding-bottom: 10px;
}

input.btn:focus {
    border: 1px solid rgb(82, 168, 236);
}

.newchecker div > span {
    font-size: 12px;
}
.existing-client{
    padding: 24px;
}

#cart .existing-client label.styled{
    display:block;
	padding-right: 50px;
	margin-right: 37%;
}
.existing-client .list_item{
    font-size: 12px;
}
.existing-client input.styled {
    margin-right: 30px;
}
#domoptions11, #domoptions22{
    padding: 10px 0;
    font-size: 12px;
}
#domoptions22 label{
    font-size: 12px;
}
#updater2 {
    clear: both;
    font-size: 12px;
    padding: 1px 0
}

#updater2 table{
	padding-top: 20px;
}

#gatewayform .ccform label{
    display: block;
}

.payment-methods li {
    display: block;
    float: left;
    padding: 1px 0;
    width: 50%;
}
.client-list {
	background:#fbfbfb;
	padding:2px 3px 3px 3px;
	border-radius:6px;
	border:solid 1px #b8b8b8;
	float:right;
	box-shadow:0 1px 1px #ddd;
}
.notes{
    width: 94.5%;
    height: 90px;
}
#clientform label{
    display: block;
}