select {
  @extend %form-control-styles;
}

input:not(
      [type="submit"],
      [type="reset"],
      [type="radio"],
      [type="checkbox"],
      [type="file"],
      .form-control,
),
input.styled:not(
      [type="submit"],
      [type="button"],
      [type="reset"],
      [type="radio"],
      [type="checkbox"],
      [type="file"],
  ) {
  @extend %form-control-styles
}

textarea {
  @extend %form-control-styles
}

.table td[align="center"],
.table th[align="center"] {
  text-align: center !important;
}

.table td[align="left"],
.table th[align="left"] {
  text-align: left !important;
}

.table td[align="right"],
.table th[align="right"] {
  text-align: right !important;
}

.orderpage,
.vps_cart_products {
  .currency {
    margin: 10px 0;
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    select {
      margin-left: 10px;
    }
  }
}

.wbox {
  @extend %card-styles;
}

.cart-progress {
  border-top: $border-width * 2 solid $border-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
  .progress-dot {
    font-size: 13px;
    font-weight: $font-weight-bold;
    padding: 20px 40px;
    border: none;
    position: relative;
    color: $gray-500;
    &:before {
      font-size: 13px;
      background-color: $border-color;
      border: 2px solid $border-color;
      content: '';
      width: 22px;
      height: 22px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: -13px;
      left: calc(50% - 12px);
    }

    &:first-of-type {
      padding-left: 0;
      &:before {
        left: 0;
      }
      &:after {
        display: none;
      }
    }

    &:last-of-type {
      padding-right: 0;
      &:after {
        display: none;
      }
      &:before {
        right: 0;
        left: auto;
      }
    }

    &.active {
      color: $dark;
      &:before {
        background: $brand-primary;
        box-shadow: inset 0 0 0 5px #fff;
      }
    }

    &.completed {
      &:before {
        background: $brand-primary;
        border-color: $brand-primary;
        box-shadow: none;
        content: '✔';
        color: #fff;
        text-align: center;
        font-size: 11px;
        line-height: 20px;
      }
    }
  }
}

#progress-indicator {
  height: auto !important;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  .progress-el {
    display: inline-block;
    overflow: hidden;
    height: auto;
  }
}

.orderbox {
  background: $body-bg;
  border: $border-width solid $border-color;
  padding: 1px;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;

  &.sh1a .orderboxpadding {
    cursor: pointer;
  }

  margin-top: -1px;
  .product-name {
    color: $brand-primary;
  }
  input[type=submit]:not(.btn-primary),
  button[type=submit]:not(.btn-primary) {
    font-weight: normal !important;
    @include button-variant($brand-success, $white, $brand-success);
  }
}

.vps_cart_products {
  overflow: hidden;
  .orderbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 !important;
    width: 50% !important;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    table tr td {
      padding: 7px 0;
    }
  }
}

.greenbox {
  margin-bottom: 20px;
  background: lighten($brand-success, 40%);
  border: $border-width solid lighten($brand-success, 30%);
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  color: $gray;
  padding: 10px 10px 15px;
}

a#checksubmit,
a.checksubmit {
  color: $white !important;
  font-size: 20px;
  text-align: right;
  margin-left: 20px;
  background-color: $brand-success;
  text-decoration: none;
  padding: 10px 20px;
  -webkit-border-radius: $btn-border-radius;
  -moz-border-radius: $btn-border-radius;
  border-radius: $btn-border-radius;
}

.csubmit {
  background: $brand-success !important;
  text-align: center;
  vertical-align: middle;
  position: relative;
  * {
    text-shadow: none !important;
  }
}

.product {
  .product-body {
    .product-price {
      display: flex;
      flex-direction: row;
      align-items: center;
      * {
        margin-left: 5px;
      }
    }
  }
}

/*
  Dedicated servers
 */

div.h {
  padding-top: 10px !important;
  margin-bottom: 20px;
}

#menuT li.i5 {
  padding: 11px 20px !important;
}

#tables {
  width: 100% !important;
  table {
    width: 100% !important;
  }
  td.d1 span.s2 a,
  td.d1 span.s2 a:active,
  td.d1 span.s2 a:visited,
  td.d5 a,
  td.d5 a:active,
  td.d5 a:visited {
    font-weight: normal !important;
    color: $gray-700 !important;
  }
  td.d6 a {
    width: auto !important;
    height: auto !important;
    background-image: none !important;
    background-color: $brand-success !important;
    color: #fff;
    text-align: center;
    display: block;
    line-height: 14px;
    @include button-styles(a);
  }
}

/*
  DOMAINS
 */

.modern #bulksearch {
  -webkit-border-radius: $border-radius !important;
  -moz-border-radius: $border-radius !important;
  border-radius: $border-radius !important;
  border: $border-width solid $border-color !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.button-container {
  display: flex;
  flex-direction: row;

  .button05,
  .button04 {
    margin-right: 10px;
  }
}

.button05 {
  display: inline-block;
  background: $cyan !important;
  -webkit-border-radius: $border-radius !important;
  -moz-border-radius: $border-radius !important;
  border-radius: $border-radius !important;
  cursor: pointer;
  input[type=submit] {
    @include button-styles(button05);
    font-size: 13px;
    padding: $btn-padding-y-sm $btn-padding-x-sm;
    background: transparent;
  }
  &:hover {
    background: darken($cyan, 5%) !important;
  }
}

.button04 {
  display: inline-block;
  background: $btn-default-bg !important;
  -webkit-border-radius: $border-radius !important;
  -moz-border-radius: $border-radius !important;
  border-radius: $border-radius !important;
  cursor: pointer;
  input[type=submit] {
    @include button-styles(button04);
    font-size: 13px;
    padding: $btn-padding-y-sm $btn-padding-x-sm;
    background: transparent;
  }
  &:hover {
    background: darken($btn-default-bg, 5%) !important;
  }
}

.status-head {
  background-color: $gray-200 !important;
}

.button-container {
  .right {
    text-align: right !important;
  }
  margin: 10px 0 !important;
}

.domain-search-btn {
  cursor: pointer !important;
}

.domain-modes {
  a:hover {
    text-decoration: underline;
  }
}

.domain-in-02 input {
  border: none !important;
  padding: 0.3rem !important;
}

.domain {
  .period {
    display: flex;
    flex-direction: row;
    align-items: center;
    * {
      margin-left: 10px !important;
    }
  }
}

//Graphs

input.date-time-picker[type=text]{
  min-width: 180px;
}

//DigitalOcean

#nav-onapp {
  h1 {
    display: none !important;
  }
}

#nav-onapp ul, .cloud-nav .level-1 {
  border: none !important;
  height: auto !important;
  margin-bottom: 10px !important;
}

#content-cloud, .content-cloud{

  background: none !important;

  .hasicon {
    background: none !important;
  }

  .header-bar {
    line-height: 50px;
    padding: 10px 0;
    height: 50px;
    display: block;
    background: none !important;
    border: none !important;

    .vmdetails {
      background: none !important;
    }
  }

  .content-bar {
    background: none !important;
    border: none !important;
    -webkit-border-radius: $border-radius !important;
    -moz-border-radius: $border-radius !important;
    border-radius: $border-radius !important;
    margin: 0 !important;

    .table {
      &.table-bordered {
        border: 1px solid $border-color !important;
        -webkit-border-radius: $border-radius !important;
        -moz-border-radius: $border-radius !important;
        border-radius: $border-radius !important;
      }
    }
  }

  input[type="submit"].blue, input[type="button"].blue {
    @include button-styles(blue);
    background-color: $brand-primary;
    background-image: none;

    &:hover {
      background-color: darken($brand-primary, 10%);
      border-color: darken($brand-primary, 12%);
    }
    &:focus,
    &.focus {
      background-color: darken($brand-primary, 17%);
      border-color: darken($brand-primary, 25%);
    }
  }
}

table.ttable tr td {
  background: none !important;
}

#nav-onapp li a,
.cloud-nav .menu-item.dropdown.open .dropdown-toggle,
  //.cloud-nav .menu-item > a,
#nav-onapp li.current-menu-item a,
.cloud-nav .current-menu-item.dropdown.open .dropdown-toggle {
  //.cloud-nav .menu-item.current-menu-item > a {
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: 2px solid transparent !important;
  background: none !important;
  font-weight: $font-weight-normal !important;
  padding: 5px 20px !important;
  font-size: $font-size-base;
  height: auto !important;
  box-shadow: none !important;
  text-shadow: none !important;
  &:hover {
    color: $gray-700 !important;
    border-bottom: 2px solid $brand-primary !important;
  }
}

#nav-onapp li.current-menu-item a,
.cloud-nav .current-menu-item.dropdown.open .dropdown-toggle
  //.cloud-nav .menu-item.current-menu-item > a
{
  font-weight: $font-weight-bold !important;
  color: $gray-700 !important;
  border-bottom: 2px solid $brand-primary !important;
}

#lockable-vm-menu {
  overflow: hidden;

  #lock {
    top: 0;
    bottom: 0;
    height: 100% !important;
  }
}

.iphone_switch_container {
  display: inline-block !important;
}

h3.summarize {
  padding: 20px 0 !important;
  font-style: normal !important;
  font-size: $font-size-h4 !important;
}

span.slabel {
  width: 200px !important;
  font: inherit !important;
}

.cloud {
  .cloud-top {
    .cloud-nav {
      height: auto;
      max-height: unset;
      margin: auto;
      box-shadow: none;
      float: none;

      ul .menu-item {
        &.current-menu-item > a,
        &.current-menu-item > a {
          border: none !important;
        }
      }
      .level-1 {
        &:hover {
          box-shadow: none;
          max-height: unset;
        }

        .menu-item.dropdown {
          .dropdown-menu {
            height: auto;
            & .active a,
            &:hover a {
              color: $brand-secondary !important;
            }

            & > li.active > a,
            & > li:hover > a {
              color: $brand-primary !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 993px){
  .cloud {
    .cloud-top {
      .cloud-nav {
        ul .menu-item {
          padding-top: 5px !important;
          padding-bottom: 5px !important;
          padding-left: 0 !important;
        }
        .level-1 {
          margin: 20px 0 !important;
        }
      }
    }
  }
}