<IfModule mod_rewrite.c>
        RewriteEngine On

        RewriteCond %{HTTP_HOST} ^verify\.rvglobalsoft\.com
        RewriteRule ^ip\/(.*) https://rvglobalsoft.com/?cmd=verifyrvlicense&ip=$1 [R=301,L]
        
        RewriteCond %{HTTP_HOST} ^verify\.rvglobalsoft\.com$ [OR]
        RewriteCond %{HTTP_HOST} ^www\.verify\.rvglobalsoft\.com$
        RewriteRule ^/?$ "https\:\/\/rvglobalsoft\.com\/verifyrvlicense" [R=301,L]
</IfModule>
