select[aria-disabled="true"] {
  background: #eee;
  pointer-events: none;
  touch-action: none;
}

a[aria-disabled="true"] {
  color: gray !important;
  cursor: not-allowed;
}

[type="checkbox"][name="keep_draft"][readonly="readonly"]::before {
  background: rgba(255,255,255,.5);
  content: '';
  display: block;
  height: 100%;
  width: 100%;
}
a.btn.disabled{
  opacity:0.15 !important;
  filter:alpha(opacity=30);-webkit-box-shadow:none;
  box-shadow:none;
}
.cmd-invoices a[name='markpaid'],
.cmd-invoices [href='?cmd=invoices&action=createinvoice&client_id=0'],
.cmd-invoices a[name='markpaid'],
.cmd-invoices #testform a[name='markunpaid'],
.cmd-accounts a[name='create'],.cmd-accounts a[name='suspend'],
.cmd-accounts a[name='unsuspend'],
.cmd-accounts a[name='delete'],
.cmd-domains a[name='renew'],
.cmd-orders a[name='markaccepted'],
.cmd-orders a[name='markpending'],
.cmd-orders a[name='markcancelled'],
.secondtd .btn-default,
.secondtd .btn-warning,
.blu .submiter[name='delete'],
.cmd-orders .btn-danger[onclick='return confirm1();'],
.menu-auto[title='Edit'],
.menu-auto[title='Duplicate'],
.menu-auto[title='delete'],
.cmd-estimates #lineaction.menuitm,
.cmd-estimates #nline_tax.text-right[name='item[n][tax_rate]']{
  opacity:0.15 !important;
filter:alpha(opacity=30);-webkit-box-shadow:none;
box-shadow:none;
}

.autorenew_off{
  opacity:0.2 !important;
  background-position:0px -64px
}
.reglock_off{
  opacity:0.25 !important;
  background-position:0px -48px
}
.protection_off{
  opacity:0.25 !important;
  background-position:0px -16px
}
