<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Dokument bez tytułu</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/clientarea.css" rel="stylesheet">
<link href="css/font.css" rel="stylesheet">
<link href="css/orderpage.css" rel="stylesheet">

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
<script src="orderpage_js/script.js"></script>
</head>
<body>

<div class="bg-color"></div>
<div class="noise">
<div class="bg-shadow"></div>
</div>
<div class="page">
    	<!--Header -->
    	<header class="p-header clearfix">
        	<div class="pull-right">
            	<div class="account-bg">
                	<div class="btn-group">
                    	<div class="user-img">
                        	<div class="user-icon"></div>
                        </div>
                    	<a class="clearstyle btn dropdown-toggle" data-toggle="dropdown" href="#">
                        	My account
                        	<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        	<div class="dropdown-padding">
                            	<li><a href="#">Manage account</a><span></span></li>
                                <li><a href="#">Exit to Admin area</a><span></span></li>
                                <div class="divider"></div>
                                <li><a href="#">Logout</a><span></span></li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        
        	<!-- Lang box -->
         	<div class="pull-right">
            	<div class="lang-bg">
					<div class="btn-group">
                    	<a class="clearstyle btn dropdown-toggle" data-toggle="dropdown" href="#">
                        	English
                        	<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        	<div class="dropdown-padding">
                                <li><a href="#">English</a><span class="active-lang"></span></li>
                                <li><a href="#">Deutsch</a><span></span></li>
                                <li><a href="#">Portugues</a><span></span></li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!-- Search Box -->
        	<div class="pull-right">
            	<div class="search-bg">
                	<div class="input-prepend">
                    	<span class="add-on"><i class="icon-c-search"></i></span>
                        <input class="span2" type="text">
                        <div class="btn-group">
                            <span class="search-separator">|</span>
                            <a class="clearstyle btn dropdown-toggle" data-toggle="dropdown" href="#">Knowledge Database
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                            	<div class="dropdown-padding">
                                    <li><a href="#">Knowledgebase</a><span></span></li>
                                    <li><a href="#">Domains</a><span></span></li>
                                    <li><a href="#">Support Tickets</a><span></span></li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Website Title/Slogan -->
            <h3>Your Business Name</h3>
        </header>
        <!-- End of Header -->
        
        <!-- Main Section -->
        <div class="row-c">
            <section class="span12 container-bg">
            	<!-- Left Column -->
                <aside>
                	<div class="topbar">
                    	<p>Powered by</p>
                        <span>HostBill</span>
                        <button class="collapse-btn">
                        	<i class="icon-collapse"></i>
                        </button>
                    </div>
                    <!-- Navigation -->
                    <nav class="nav nav-list main-nav">
                    	<li class="nav-header no-border"><span>main menu</span></li>
                        <li class="active-menu"><a class="active-menu" href="#"><div class="vert-center">
                        		<i class="icon-cloud"></i>
                                <p>Dashboard</p>
                        </div></a>
                        </li>
                        <li><a href="#"><div class="vert-center">
                        		<i class="icon-order"></i>
                                <p>Order</p>
                        </div></a>
                        </li>
                        <li><a href="#"><div class="vert-center">
                        		<i class="icon-services"></i>
                                <p>Services</p>
                                <div class="link-info">5</div>
                        </div></a></li>
                        <li><a href="#"><div class="vert-center">
                        		<i class="icon-account"></i>
                                <p>Account</p>
                        </div></a></li>
                        <li><a href="#"><div class="vert-center">
                        		<i class="icon-support"></i>
                                <p>Support</p>
                                <div class="link-info">15</div>
                        </div></a></li>
                        <li><a href="#"><div class="vert-center">
                        		<i class="icon-affilates"></i>
                                <p>Affilates</p>
                        </div></a>
                        </li>
                        <li class="nav-header no-border"><span>Quicks links</span></li>
                        <li><a href="#"><div class="vert-center ql">
                        		<i class="icon-key"></i>
                                <p>Open New Support Ticket</p>
                        </div></a></li>
                        <li><a href="#"><div class="vert-center ql">
                        		<i class="icon-funds"></i>
                                <p>Add Funts</p>
                        </div></a></li>
                        <li><a href="#"><div class="vert-center ql">
                        		<i class="icon-main-contacts"></i>
                                <p>Manage Contacts</p>
                        </div></a></li>
                        <li><a href="#"><div class="vert-center ql">
                        		<i class="icon-main-lock"></i>
                                <p>Allowed IP Access</p>
                        </div></a></li>
                        <li><a href="#"><div class="vert-center ql">
                        		<i class="icon-main-knowledgebase"></i>
                                <p>Knowledgebase</p>
                        </div></a></li>
                        <li><a href="#"><div class="vert-center ql">
                        		<i class="icon-main-server"></i>
                                <p>Server Status</p>
                        </div></a></li>
                    </nav>
                </aside>
                <!-- End of Left Column -->
                
                <!-- Right Column (Main Container) -->
                <article class="main-container">
                	<div class="main-container-header-bg">
                		<div class="main-container-header">
                        	<div class="top-right-buttons">
                            	<div class="btn-group">
                                    <a class="top-btn dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="icon-add"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <div class="dropdown-padding">
                                            <li><a href="#">New Support ticket</a><span></span></li>
                                            <li><a href="#">New order</a><span></span></li>
                                        </div>
                                    </ul>
                                </div>
                                <a href="#" class="top-btn"><i class="icon-refresh"></i></a>
                            </div>
                            <h2>Dashboard</h2>
                    	</div>
                    </div>
                    
                    
                    <!-- Orderpage -->
                    
                    <div class="orderpage">
                    	<h1>Setup your <span>dream server</span></h1>
                        <h2>Pick your best option. 60 second setup. Free to go!</h2>
                        
                        <!-- Left Sliders -->
                        <div class="left-sliders">
                        	<!-- Top Slider -->
                        	<div class="small-slider-box margin-slider">
                            	<div class="small-slider-bg">
                                    <div class="small-slider-top-layer">
                                    	<p>16<span>GB</span></p>
                                    </div>
                                </div>
                                <p>memory</p>
                            </div>
                            <!-- End of Top Slider -->
                            
                            <!-- Middle Slider -->
                            <div class="small-slider-box slider-mt">
                                <div class="small-slider-bg">
                                	<div class="small-slider-top-layer">
                                    	<p>2<span>GB</span></p>
                                    </div>
                                </div>
                                <p>drive</p>
                            </div>
                            <!-- End of Middle Slider-->
                            
                            <!-- Bottom Slider -->
                            <div class="small-slider-box margin-slider slider-mt">
                            	<div class="small-slider-bg">
                                    <div class="small-slider-top-layer">
                                    	<p>100<span>GB</span></p>
                                    </div>
                                </div>
                                <p>traffic</p>
                            </div>
                            <!-- End of Bottom Slider -->
                        </div>
                        <!-- End of Left Sliders -->
                        
                        <!-- Main Slider -->
                        <div class="main-slider">
                        	<div class="main-slider-bg">
                            	<div class="main-slider-dots">
                                </div>
                                <div class="main-slider-body">
                                	<div class="m-slider-fix">
                                        <div class="main-slider-handle">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="plan-1">
                                	<div class="plan-rel">
                                    	<div class="plan-point"></div>
                                        <p>Basic</p>
                                        <span>$12,49 USD</span>
                                    </div>
                                </div>
                                
                                <div class="plan-2">
                                	<div class="plan-rel">
                                    	<div class="plan-point"></div>
                                        <p>Standard</p>
                                        <span>$19,90 USD</span>
                                    </div>
                                </div>
                                
                                <div class="plan-3">
                                	<div class="plan-rel">
                                    	<div class="plan-point active-point"></div>
                                        <p>Business</p>
                                        <span>$24,99 USD</span>
                                    </div>
                                </div>
                                
                                <div class="plan-4">
                                	<div class="plan-rel">
                                    	<div class="plan-point"></div>
                                        <p>Professional</p>
                                        <span>$50,00 USD</span>
                                    </div>
                                </div>
                                
                                <div class="plan-5">
                                	<div class="plan-rel">
                                    	<div class="plan-point"></div>
                                        <p>Ultimate</p>
                                        <span>$74,90 USD</span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- End of Main Slider -->
                        
                        <!-- Right Column -->
                        <div class="promo-column">
                        	<div class="promo-code-box clearfix">
                                <label>Promotional code:</label>
                                <i class="icon-promo-code"></i>
                                <div class="promo-input-bg">
                                    <input type="text" />
                                </div>
                            </div>
                            
                            <div class="billing-box clearfix">
                            	<label>Billing:</label>
                                <select>
                                	<option>Monthly</option>
                                    <option>Monthly</option>
                                </select>
                                <i class="icon-billing"></i>
                            </div>
                            
                            <div class="total-price-box">
                            	<span>Total price:</span>
                                <p>$1024 USD</p>
                                
                                <div class="order-bg">
                                	<a href="#">
                                    	<div class="order-btn">
                                        	<span>Order Now!</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                        <!-- End of Right Column -->
                        
                        <div class="fix-margin"></div>
                        <div class="shadow-line"></div>
                        
                        <div class="left-column">
                        	<h3><i class="icon-add-opts"></i> Additional Options</h3>
                            <table>
                            	<tr>
                                	<td class="option-name">Bandwidth</td>
                                    <td class="option-val"><select>
                                    	<option>10 MBPS Dedicated</option>
                                    </select></td>
                                </tr>
                                <tr>
                                	<td class="option-name">Processor</td>
                                    <td class="option-val"><select>
                                    	<option>Single Processor Dual Core</option>
                                    </select></td>
                                </tr>
                                <tr>
                                	<td class="option-name">Second Drive</td>
                                    <td class="option-val"><select>
                                    	<option>No Drive</option>
                                    </select></td>
                                </tr>
                                <tr>
                                	<td class="option-name">OS</td>
                                    <td class="option-val"><select>
                                    	<option>Windows 8</option>
                                    </select></td>
                                </tr>
                                <tr>
                                	<td class="option-name">Control Panel</td>
                                    <td class="option-val"><select>
                                    	<option>CPanel</option>
                                    </select></td>
                                </tr>
                            </table>
                        </div>
                        
                        
                        <div class="right-column">
                        	<h3><i class="icon-order-summary"></i> Order Summary</h3>
                            <table class="table table-striped order-summary-t">
                            	<tr class="first-row">
                                	<th class="rad-l w60">Description</th>
                                    <th class="rad-r w40">Price</th>
                                </tr>
                                <tr>
                                	<td class="name">Cloud Servers- <span>Business Hostbill</span></td>
                                    <td class="val">$1024 USD</td>
                                </tr>
                                <tr class="even">
                                	<td class="name">Total Recurring: </td>
                                    <td class="val">$1024 USD <span style="font-weight:normal">(Monthly)</span></td>
                                </tr>
                                <tr class="last-row">
                                	<td class="rad-l name"></td>
                                    <td class="rad-r val">
                                    <span>Total due today:</span>
                                    <p>$1024 USD</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                        
                        <div class="client-info">
                            <div class="pull-right client-select">
                            	<i class="icon-client-select"></i>
                            	<select>
                                	<option>New Client</option>
                                </select>
                            </div>
                        	<h3><i class="icon-client-info"></i> Client Informations</h3>
                            
                            <div class="client-info-t">
                                  <table>
                                      <tr>
                                          <td class="client-column">First name: </td>
                                          <td><input type="text"></td>
                                      </tr>
                                      <tr>
                                          <td class="client-column">Last name: </td>
                                          <td><input type="text"></td>
                                      </tr>
                                      <tr>
                                          <td class="client-column">Phone: </td>
                                          <td><input type="text"></td>
                                      </tr>
                                      <tr>
                                          <td class="client-column">E-mail: </td>
                                          <td><input type="text"></td>
                                      </tr>
                                      <tr>
                                          <td class="client-column">Password: </td>
                                          <td><input type="password"></td>
                                      </tr>
                                      <tr>
                                          <td class="client-column">Confirm password: </td>
                                          <td><input type="password"></td>
                                      </tr>
                                      <tr>
                                          <td class="client-column"> Account type: </td>
                                          <td>
                                              <select class="config-list">
                                                  <option>Personal</option>
                                                  <option>Personal</option>
                                              </select>
                                          </td>
                                      </tr>
                                  </table>
                              </div>
                              <div class="client-info-t">
                                  <table>
                                      <tr>
                                          <td class="client-column">Address 1: </td>
                                          <td><input type="text"></td>
                                      </tr>
                                      <tr>
                                          <td class="client-column">Address 2: </td>
                                          <td><input type="text"></td>
                                      </tr>
                                      <tr>
                                          <td class="client-column">City: </td>
                                          <td><input type="text"></td>
                                      </tr>
                                      <tr>
                                          <td class="client-column">State: </td>
                                          <td><input type="text"></td>
                                      </tr>
                                      <tr>
                                          <td class="client-column">Postal code: </td>
                                          <td><input class="postal-code" type="text"></td>
                                      </tr>
                                      <tr>
                                          <td class="client-column">Country: </td>
                                          <td>
                                              <select class="config-list">
                                                  <option>Poland</option>
                                                  <option>Poland</option>
                                              </select>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td class="client-column">Organization name: </td>
                                          <td><input type="text"></td>
                                      </tr>
                                  </table>
                        </div>
                        
                        
                        <div class="notes">
                        	<h3><i class="icon-notes"></i> Notes</h3>
                            <textarea></textarea>
                        </div>
                        
                        
                        <div class="tos">
                            <p><input id="checkbox-tos" type="checkbox"> Please tick to confirm you agree to the <a href="#">Terms of Service</a></p>
                            <div class="checkout-center">
                                <div class="checkout-button-fix center">
                                    <button type="submit" class="checkout-button disabled" disabled="disabled">Order now <i class="icon-submit-arrow-b"></i></button>
                                </div>
                            </div>
                     </div>
                        
                    </div>
                    
                    <!-- Orderpage -->
                        
                    </div>
                </article>
            </section>
        <!-- End of Section -->
        
        <!-- Footer -->
        <footer class="clearfix">
        	<ul class="nav-footer">
            	<li><a href="#">Portal Home</a></li>
                <li><a href="#">Order</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Client Area</a></li>
                <li><a href="#">Affiliates</a></li>
            </ul>
            <p>Copyrights © 2012 Your Business Name</p>
        </footer>
        <!-- End of Footer -->
        
        </div> <!-- End of #Page -->
    </div>
    </div>
</div>

</body>
</html>
