<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ติดต่อเรา</title>
<link rel="stylesheet" type="text/css" href="css/top-style.css" media="screen" />
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.validate.min.js"></script>
<!-- {literal} -->
<script language="JavaScript">
$(document).ready(function () {
	$('#formSubmit').validate({
        submitHandler: function(form) {
            $.post('/feedback.php', $('#formSubmit').serialize(), function (data) {
                var oData   = $.parseJSON(data);
                if (oData.type == 'success') {
                    alert('ได้รับข้อมูล แนะนำ ติชม เรียบร้อยแล้ว');
                }
				form.reset();
			});
			return false;
        }
    });
});
</script>
<!-- {/literal} -->
</head>

<body>
<div class="dialog feedback">
	<div class="bg" align="left">
		<div class="bgimg" style="padding-left:280px;"><span class="title"></span></div>	
		<h2  style="padding-left:260px;">แนะนำ ติชม หรือ เสนอความคิดเห็น เกี่ยวกับผลิตภัณฑ์ <br />และบริการของเราให้ CEO ของเรารับทราบได้โดยตรง</h2>
		<form id="formSubmit" action="/feedback.php" method="post" onsubmit="return verify_form(this)" target="_parent">
			<input name="make" value="leavemessage" type="hidden" />
			<table cellpadding="0" cellspacing="10" class="pad" align="center">
			<tbody>
			<tr>
			<td align="left" valign="top">
			<label for="feedback_name">ชื่อของคุณ</label>
			</td>
			</tr>
			<tr>
			<td align="left" valign="top">
			<input original-title="" name="feedback_name" id="feedback_name" value="" errortext="โปรดกรอกข้อมูลลงในช่องนี้" type="text" class="box required" />
			</td>
			</tr>
			<tr>
			<td align="left" valign="top">
			<label for="feedback_email">อีเมล์</label>
			</td>
			</tr>
			<tr>
			<td align="left" valign="top">
			<input original-title="" name="feedback_email" id="feedback_email" value="" errortext="โปรดกรอกที่อยู่อีเมล" type="text" class="box required" />
			</td>
			</tr>
			<tr>
			<td align="left" valign="top">
			<label for="subject">ข้อความแนะนำหรือติชม</label>
			</td>
			</tr>
			<tr>
			<td align="left" valign="top">
			<textarea original-title="" name="subject" id="subject" style="height:80px;" errortext="โปรดกรอกข้อมูลลงในช่องนี้" class="box required"></textarea>
			</td>
			</tr>
			<tr>
			<td align="right" valign="top">
			<input name="send" value="คลิกเพื่อส่งข้อความถึง CEO" class="btn" type="submit" />
			</td>
			</tr>
			</tbody></table>
			<input name="security_token" value="{$security_token}" type="hidden" />
			</form>
	</div>
	<br clear="all" />
</div>

</body>
</html>
