<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Meet our team &amp; Certificates</title>
<link rel="stylesheet" type="text/css" href="css/top-style.css" media="screen" />
</head>

<body>

	<div class="dialog">
		<div class="bg">
			<h1 class="title">Meet our team &amp; Certificates</h1>
		</div>
		<div class="content">
			<h2 class="subtitle">Certificates </h2>
			<ul class="bullet"> 
				<li>เรามีพนักงานทีได้มาตรฐาน มีความเชี่ยวชาญและประสบการณ์กว่า 10 ปี
					<ul class="sub-bullet">
						<li>สอบผ่านมาตราฐานวิชาชีพไอที (Information Technology Professional Examination: ITPE) Certified by NECTEC.</li>
						<li>สอบผ่านมาตราฐาน WebSite Security SolutionS SaleS exPert PluS Certified by Symantec.</li>
					</ul>
				</li>
				<li>สามารถจัดอบรมผู้ใช้งาน (training users) ในหัวข้อต่างๆ ได้ เช่น
					<ul class="sub-bullet">
						<li>หัวข้อมาตราฐานใบรับรองความปลอดภัยทางอิเล็กรอนิกส์ SSL Certificate</li>
						<li>วิธีการ Configuration CSF Firewall</li>
						<li>Website Security , Email Security</li>
						<li>ระบบการจัดการโดเมนเนมภายในองค์กรผ่าน control panel (cPanel/WHM) เป็นต้น</li>
					</ul>
				</li>
			</ul>
			
			<h2 class="subtitle" style="display:none;">Meet the team </h2>
		</div>
	</div>
</body>
</html>
