/********* Start Footer ********/

.footer{ 
	background-color:#222222; 
	color:#FFFFFF; 
	padding:0 0 20px 0;
}
.footer h2{ 
	font-family:"Times New Roman", Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF; 
	font-size:20px; 
	font-weight:normal; 
	padding:0; 
	margin:0;
}
.footer .padtop{  
	padding-top:15px; 
}
.footer a, .footer a:visited{ 
	color:#939393; 
	text-decoration:none; 
}
.footer a:hover, .footer a:active{ 
	color:#FFFFFF;
	text-decoration: underline;
}
.footer a.title, .footer a.title:visited{ 
	color:#fff; 
	text-decoration:none; 
	font-size:12px; 
	font-weight:bold;
}
.footer a.title:hover, .footer a.title:active{ 
	color:#FFFFFF;
	text-decoration: underline;
}

/********* End Footer ********/