/********* Start Topmenu ********/
.topmenubg{
	background:#eeefef url(../images/bgnav.jpg); 
	background-position:bottom; 
	background-repeat:repeat-x; 
	height:auto; 
	padding-bottom:5px;
}
.topmenu { 
	color:#8c8c8c; 
	font-size:16px;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
}
.topmenu .padtop{ 
	padding-top:20px;
}
.topmenu a, .topmenu a:visited{ 
	color:#8c8c8c; 
	/*font-size:12px;*/ 
	text-decoration:none;
}
.topmenu a:hover, .topmenu a:active{ 
	color:#4fa8d6; 
	/*font-size:12px;*/ 
	text-decoration:none;
}
ul#navtop{ margin: 0; padding: 0; list-style: none; position: relative; }

ul#navtop ul {
     width: auto; /* Sub Menu Width */
     margin: 0;
     padding:0;
    /* margin-left: -40px;*/
     list-style: none;
     display: none;
     position: absolute;
     top: 100%;
     left: 0; 
     z-index:100; 
}

ul#navtop ul ul, ul#navtop ul ul ul { 
    top: 0; 
    left: 100%;  
}
ul#navtop li { 
    float: left; 
    display: inline; 
    position: relative;
	margin: 0;
    padding:0; 
}
ul#navtop ul  { 
	 border:#CCCCCC solid 1px;
}
ul#navtop ul li { 
    width: 100%; 
    display: block; 
	margin: 0;
     padding:0;
}

/* Navigator top Root Menu */
ul#navtop a {
     padding: 3px 10px; 
	 margin: 0; 
     white-space:nowrap;
     float: left;
     display: block; 
    /*font-size:12px; */
    text-decoration: none; 
	 color:#8f8f8f; 
	 font-weight: normal; 	
	border:0; 
	font-family:tahoma, Verdana, Arial, Helvetica, sans-serif;
	 
}

/* Root Menu Hover Persistence */
ul#navtop a:hover,ul#navtop li:hover a,ul#navtop li.iehover a {
     color: #4fa8d6;
}

/* 2nd Menu */
ul#navtop li:hover li a, ul#navtop li.iehover li a {
     float: none;
     background: #e6e6e6; 
	/* border-bottom:#a1a1a1 solid 1px; 
	 border-top:#ffffff solid 1px;*/
	 color: #666666;
	 padding: 1px 10px; 
	 margin: 0; 
}
/* 2nd Menu Hover Persistence */
ul#navtop li:hover li a:hover,ul#navtop li:hover li:hover a,ul#navtop li.iehover li a:hover,ul#navtop li.iehover li.iehover a {
     background: #cccccc;
	 color: #000;
}

/* Hover Function - Do Not Move */
ul#navtop li:hover ul ul,ul#navtop li:hover ul ul ul, ul#navtop li.iehover ul ul, ul#navtop li.iehover ul ul ul {
     display: none; 
 }
ul#navtop li:hover ul,ul#navtop ul li:hover ul,ul#navtop ul ul li:hover ul,ul#navtop li.iehover ul,ul#navtop ul li.iehover ul,ul#navtop ul ul li.iehover ul { 
    display: block; 
}
.sub_menu{background-color: #999999; color:#FFFFFF; font-size:13px; font-weight:bold; padding: 1px 10px; cursor:default;}
/********* End Topmenu ********/

