@import url('../../../webfonts/openSans/regular.css');
@import url('../../../webfonts/openSans/bold.css');
@import url('../../../webfonts/openSans/bolditalic.css');
@import url('../../../webfonts/openSans/italic.css');
@import url('../../../webfonts/ReenieBeanie/regular.css');
@import url('../../../webfonts/leagueGothic/regular.css');

@font-face{
    font-family: 'OpenSans';
    src: url('../font/OpenSans-Light.eot');
    src: url('../font/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-Light.woff') format('woff'),
        url('../font/OpenSans-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;

}

@font-face{
    font-family: 'OpenSans';
    src: url('../font/OpenSans-LightItalic.eot');
    src: url('../font/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-LightItalic.woff') format('woff'),
        url('../font/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;

}

@font-face{
    font-family: 'OpenSans';
    src: url('../font/OpenSans-Semibold.eot');
    src: url('../font/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-Semibold.woff') format('woff'),
        url('../font/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;

}

@font-face{
    font-family: 'OpenSans';
    src: url('../font/OpenSans-SemiboldItalic.eot');
    src: url('../font/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-SemiboldItalic.woff') format('woff'),
        url('../font/OpenSans-SemiboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;

}

@font-face{
    font-family: 'OpenSans';
    src: url('../font/OpenSans-ExtraBold.eot');
    src: url('../font/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-ExtraBold.woff') format('woff'),
        url('../font/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}

@font-face{
    font-family: 'OpenSans';
    src: url('../font/OpenSans-ExtraBoldItalic.eot');
    src: url('../font/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-ExtraBoldItalic.woff') format('woff'),
        url('../font/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;

}

.servers{
    background: url(../img/shelf.png) no-repeat scroll left bottom transparent;
    margin-bottom: -55px;
    padding: 0 70px 140px;
    width: 820px
}
.column{
    margin: 0 12px;
    width: 176px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    -moz-box-shadow: -2px 0 2px -2px rgba(0, 0, 0, 0.2), 2px 0 2px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -2px 0 2px -2px rgba(0, 0, 0, 0.2), 2px 0 2px -2px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0 2px -2px rgba(0, 0, 0, 0.2), 2px 0 2px -2px rgba(0, 0, 0, 0.2);
    background: #dedede;
    text-align: center
}

.column.best{
    width: 196px;
    margin-top: 5px;
    position: relative
}
.column .iemask{
    overflow: hidden;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px
}

.column .iegrad{
    background: #dedede;
    background: -moz-linear-gradient(#fff, #dedede);
    background: -ms-linear-gradient(#fff, #dedede);
    background: -o-linear-gradient(#fff, #dedede);
    background: -webkit-linear-gradient(#fff, #dedede);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #dedede));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dedede', GradientType=0);
    background: linear-gradient(#fff, #dedede);
    padding: 10px 5px 15px
}

.column.best .iegrad{
    padding: 15px 5px 20px
}

.column h3{
    line-height: 23px;
    font-size: 17px;
    font-weight: 900;
    color: #595959
}

.column .price-box{
    line-height: 17px;
    color: #989898;
    font-weight: bold;
    font-style: italic;
    font-size: 13px;
    margin-top: 22px
}

.column .price-box .sign{
    font-size: 21px
}

.column .price-box .price{
    font-size: 42px;
    color: #79b63a
}

.column .price-box{
    font-size: 14px
}

.best .price-box .price{
    font-size: 48px
}

.best .price-box .sign{
    font-size: 24px
}

.order-btn, .big-btn, .big-blue-btn{
    background: url(../img/btn-bg.png) repeat scroll 0 0 transparent;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    -moz-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25) inset;
    color: white;
    display: block;
    height: 27px;
    line-height: 27px;
    font-weight: 900;
    text-shadow: 0 1px rgba(0, 0, 0, 0.35);
    margin: auto;
    text-align: center
}

.order-btn:hover, .big-btn:hover, .big-blue-btn:hover{
    color: white;
    text-decoration: none
}

.order-btn:focus, .big-btn:focus, .big-blue-btn:focus{
    outline: none
}

.order-btn{
    font-size: 14px;
    width: 154px
}

.best .order-btn{
    background-position: 0 -27px;
    -moz-border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    border-radius: 17px 17px 17px 17px;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    width: 174px
}

.big-btn{
    height: 60px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    line-height: 60px;
    padding: 0 25px;
    font-size: 24px;
    min-width: 245px;
    text-align: center;
    background-position: 0 -130px
}

.big-blue-btn{
    height: 70px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    line-height: 70px;
    font-size: 30px;
    background-position: 0 -189px;
    padding: 0 25px
}

.big-blue-btn:hover{
    background-position: 0 -259px
}

.order-btn:hover{
    color: white;
    text-decoration: none
}

.big-btn, .order-btn, .big-blue-btn{
    white-space: nowrap
}

.column .order-now, .column ul.specs, .column .price-box, .column h3, #progress-indicator .step .circle, #progress-indicator{
    margin-bottom: 12px
}

.column ul{
    list-style: none;
    padding: 0;
    margin: 0
}

.column ul.specs li{
    color: #9B9A9A;
    font-size: 13px;
    font-weight: 800;
    line-height: 23px
}

.column ul.specs li strong{
    font-weight: 900;
    color: #404040
}

.additional-specs{
    margin: auto;
    background: #ccc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    padding: 3px;
    font-style: italic;
    font-weight: normal;
    color: #676767
}

.additional-specs li{
    line-height: 17px
}

.order-now-shadow{
    position: relative
}

.order-now-shadow div{
    background: url(../img/plan-shadow.png) no-repeat scroll 0 0 transparent;
    height: 20px;
    position: absolute;
    top: 100%;
    width: 50%
}

.order-now-shadow .right{
    background-position: right top;
    right: 0
}

#progress-indicator{
    position: relative
}

#progress-indicator div.step{
    float: left;
    text-align: center
}

.step .circle{
    background: none repeat scroll 0 0 transparent;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
    -moz-box-shadow: 0 -5px 15px -5px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: 0 -5px 15px -5px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 -5px 15px -5px rgba(0, 0, 0, 0.15) inset;
    display: block;
    height: 34px;
    margin: auto;
    padding: 10px 0;
    width: 54px
}

.step .circle span{
    background: url(../img/btn-bg.png) repeat scroll 0 -62px transparent;
    -moz-border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    border-radius: 17px 17px 17px 17px;
    display: block;
    height: 34px;
    line-height: 34px;
    margin: auto;
    text-align: center;
    width: 34px;
    color: white;
    font-weight: 900;
    font-size: 18px;
    font-style: italic;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5) inset
}

.step.progress-active .circle span, .step.progress-done .circle span{
    background-position: 0 -96px
}

.progress-line{
    width: 100%;
    position: relative
}

.progress-line div{
    background: url(../img/dots.png) repeat-x scroll 0 -6px transparent;
    height: 3px;
    position: absolute;
    top: 26px;
    width: 0%
}

.progress-line .active{
    background-position: 0 0
}

.step .header{
    font-size: 15px;
    line-height: 23px;
    color: #7f7f7f;
    font-weight: normal;
    font-style: italic
}

.step.progress-active .header, .step.progress-done .header{
    font-size: 17px;
    color: #60a936;
    font-weight: bold;
    font-style: italic
}

.information{
    background: url(../img/h-shadow.png) no-repeat scroll center top transparent;
    margin: 50px 0;
    padding: 50px 30px 0;
    clear: both
}

.information-box{
    width: 50%
}

.information-details{
    width: 350px
}

.information-details h4{
    color: #404040;
    font-size: 24px;
    margin: 0 0 12px 0;
    font-weight: 900;
    font-style: italic
}

.information-details p{
    color: #676767;
    font-size: 14px;
    margin-right: 30px;
    font-weight: 800;
    font-style: italic
}

.round-icon{
    background: url(../img/icons.png) no-repeat scroll right top transparent;
    height: 64px;
    width: 100px
}

.support-icon{
    background-position: 0 0
}

.information h2{
    text-align: center;
    margin-bottom: 12px;
    font-family: "LeagueGothic";
    font-weight: normal;
    font-style: normal;
    font-size: 36px
}

.contact-msg p{
    text-align: center;
    margin-bottom: 12px;
    font-family: "ReenieBeanie";
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    color: #7f7f7f
}

.hr{
    margin: 12px 0;
    height: 1px;
    border-bottom: 1px dashed #888;
    width: 80%;
    margin: auto
}

.ie9 .ribbon-top, .oldie .ribbon-top{
    display: none
}

.ribbon-top{
    height: 100px;
    overflow: hidden;
    position: absolute;
    right: -5px;
    top: -4px
}

.ribbon-top div.body{
    -moz-transform: rotate(32deg);
    -ms-transform: rotate(32deg);
    -o-transform: rotate(32deg);
    -webkit-transform: rotate(32deg);
    transform: rotate(32deg);
    background: url(../img/strip.png) repeat-y scroll right top red;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38);
    color: white;
    font-weight: bold;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    line-height: 26px;
    left: 20px;
    padding: 0 30px 0 60px;
    position: relative;
    z-index: 2
}

.ribbon-top div.top{
    background: url(../img/rib.png) no-repeat scroll left top transparent;
    height: 4px;
    left: 31px;
    position: absolute;
    top: 0;
    width: 26px;
    z-index: 1
}

.ribbon-top div.right{
    background: url(../img/rib.png) no-repeat scroll right bottom transparent;
    height: 10px;
    position: absolute;
    right: 0;
    top: 51px;
    width: 5px;
    z-index: 1
}

#cont.left{
    float: none
}

.line-header{
    border-bottom: 1px solid #dadada;
    margin: 50px 0 12px
}

.line-header.first{
    margin-top: 12px
}

.line-header h3{
    border-bottom: 3px solid #b3b3b3;
    float: left;
    font-style: italic;
    font-weight: 900;
    line-height: 32px;
    font-size: 19px;
    color: #404040
}

.white-box{
    background: none repeat scroll 0 0 #FFF;
    border-left: 1px solid #E5E5E5;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-right: 1px solid #E5E5E5;
    -moz-box-shadow: 0 3px 2px -1px #C1C1C1;
    -webkit-box-shadow: 0 3px 2px -1px #C1C1C1;
    box-shadow: 0 3px 2px -1px #C1C1C1;
    padding: 25px;
    margin-bottom: 20px;
    color: #727272
}

#sidemenu, #floater_box{
    width: 363px
}

.left-column{
    width: 590px
}

#updater .padded.btn{
    display: none
}

#updater th{
    border-bottom: 1px solid #dadada;
    text-align: left;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #404040
}

#updater th.first::after{
    background: none repeat scroll 0 0 #B3B3B3;
    content: "-";
    display: block;
    height: 3px;
    left: 0;
    overflow: hidden;
    top: 33px;
    width: 73px
}

#updater td.td3, #updater td.td4{
    text-align: left;
    padding: 5px 0;
    width: 30%
}

.lh28{
    line-height: 30px
}

.vtip_description{
    background-image: url(../img/quest.gif)
}

.remove-btn{
    background: url(../img/del.gif) no-repeat scroll center center transparent;
    padding: 0 10px 0
}

.product-items td{
    padding: 5px 0
}

.product-items td strong{
    padding: 5px 0;
    font-size: 14px;
    font-weight: bold;
    color: #404040
}

.product-items input{
    vertical-align: top
}

.product-items textarea{
    width: 96% !important
}

.product-items .less-padding td{
    padding: 5px 0 0
}

.product-items .last{
    text-align: right
}

table td.cf-name{
    text-align: right;
    padding-right: 20px
}

.cf-domain{
    padding: 10px 0 2px
}

#preloader{
    background-color: white
}

.cart-switch{
    margin: 54px 0 0;
    float: right;
    position: relative;
    padding: 2px;
    background: #a6a6a6;
    -moz-box-shadow: inset 0 2px 2px #919191;
    -webkit-box-shadow: inset 0 2px 2px #919191;
    box-shadow: inset 0 2px 2px #919191;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px
}

.cart-switch span, .cart-switch div{
    color: #707070;
    cursor: pointer;
    display: inline-block;
    font-family: OpenSans, Helvetica, sans-serif;
    font-weight: bold;
    height: 24px;
    line-height: 22px;
    margin: 2px 1px 1px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px #C1C1C1;
    width: 135px;
    z-index: 2
}

.cart-switch span.active, .cart-switch div{
    background: url(../img/btn-bg.png) repeat scroll 0 0 transparent;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 -2px #5fb5f6, 0 2px #0966ac;
    -webkit-box-shadow: 0 -2px #5fb5f6, 0 2px #0966ac;
    box-shadow: 0 -2px #5fb5f6, 0 2px #0966ac;
    -moz-box-shadow: 0 -2px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 -2px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 -2px rgba(0, 0, 0, 0.2) inset
}

.cart-switch span:hover, .cart-switch span:active, .cart-switch span.active, .cart-switch span.pre-active, .cart-switch div{
    color: white;
    text-shadow: 0 1px #5e4958
}

.cart-switch div{
    display: none;
    position: absolute;
    top: 4px;
    left: 113px;
    z-index: 1
}

.newchecker select{
    width: 429px !important
}

.newchecker input{
    width: 420px !important
}

.cart-sumary th, .domain-list th{
    border-bottom: 1px solid #DADADA;
    border-top: medium none;
    font-size: 12px;
    padding: 0;
    text-align: left;
    color: #808080
}

.cart-sumary table.table-striped tr th, #pricetotal td{
    background: none
}

.cart-sumary table.table-striped tr.subtotal-line td{
    border-top: 2px solid #d9d9d9;
    border-bottom: 1px solid #ececec;
    background: none
}

.cart-sumary table.table-striped tr.subtotal-line2 td{
    border-bottom: 1px solid #ececec;
    background: none
}

.cart-sumary td{
    font-size: 13px;
    padding: 6px 0;
    border: none
}

.cart-sumary .space td{
    padding-bottom: 15px
}

#cart_contents{
    border-bottom: 1px solid #dadada;
    position: relative;
    min-height: 260px
}

#cart_contents::before{
    background: #b3b3b3;
    bottom: 0;
    content: "-";
    display: block;
    height: 3px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 125px
}

.coupon a{
    background: url(../img/coupon.png) no-repeat scroll 0 0 transparent;
    padding: 4px 30px
}

#pricetotal td{
    font-size: 14px
}

.cart_total, #pricetotal td .cart_total{
    font-size: 30px;
    line-height: 32px
}

#cart .cart-sumary .table td{
    text-align: left
}

#gatewayform label{
    display: block
}

.grey{
    padding-right: 10px
}