{literal}
<style>
    .sslHeader{
    background-color:#d4e6fc;
    }
    .detailTD{
    padding: 5px 5px 5px 10px;
    font-size: 12px;
    background-color: #ccc;
    }
    .tdInput{
    display:block; width: 100%;
    }
    .tdOdd{
    font-size: 12px;
    }
    .tdOddHead{
        padding: 5px 0 5px 10px;
        font-size: 12px;
        background-color: #ececec;

    }
    .tdOddInner{
        background-color: #ececec;
    }
    .tdInputOdd{
        font-size: 12px;
        background-color: #ececec;
        display: inline; 
        width: 100%;
        border: 0;
        padding-left: 10px;
        width:15em;
    }
    .tdEven{
        font-size: 12px;
    background-color: #ececec;
    }
    .tdEvenHead{
        padding: 5px 0 5px 10px;
    font-size: 12px;
    background-color: #fff;
    }
    .tdEvenInner{
        background-color: #fff;
    }
    .tdInputEven{
    font-size: 12px;
        background-color: #fff;
    display: inline; 
    width: 100%;
    border: 0;
    padding-left: 10px;
        width:15em;
    }
    
    .evovHelper{
        position: fixed; 
        display: none; 
        border: 1px solid #bbb; 
        background-color: #F2F5A9; 
        padding: 5px 5px 5px 5px;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 16px;
    }
    
</style>
{/literal}