#tableform td:first-child{
    width: 210px;
    text-align: right;
}
#tableform td{
    line-height: 25px;
    vertical-align: top;
}
#tableform td input{
    margin: 0;
    vertical-align: middle;
}
#tableform td .inp{
    line-height: 16px;
    vertical-align: middle;
}
#tableform .invtemplate{
    border: 1px solid #cccccc;
    border-collapse: collapse;
}
#tableform .invtemplate td{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    text-align: left;
    white-space: nowrap;
    font-size: 12px;
}
#tableform .invtemplate td > *{
    display: inline;
    float: none;
    margin: 0;
    padding: 0;
    width: auto;
}
#tableform .invtemplate td > input{
    margin: 3px
}
#tableform .invtemplate td > label{
    display: inline-block;
    min-width: 140px;
}
.l_adder{
    display: none;
}
.available-products{
    line-height: 16px;
}
.available-products,
.available-products ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.available-products ul{
    background: inherit;
}
.available-products > li {
    background: white;
    border: 1px solid #B9B9B9;
    margin-bottom: 10px; 
}
.available-products > li > label{
    background: rgba(0,0,0,0.1);
    display: block;
    border-bottom: 1px solid #B9B9B9;
    padding: 4px 0;
}
.available-products > li:nth-child(2n) {
    background: #F3F3F3 ;
}
.available-products ul li{
    background: inherit;
    padding: 2px 0;
}
.opt-list{
    border: 1px solid #ddd;
    list-style: none;
    padding: 0;
    margin: 0;
}
.opt-list li{
    border-bottom: 1px solid #ddd;
    line-height: 18px;
    padding:0 5px;
}
.opt-list li:nth-child(2n) {
    background: #F3F3F3 ;
}
.opt-list li > label,
.opt-list li > input{
    display: inline-block;
    margin: 5px;
}

input[type=text]{
    width: 250px;
}
.alt-conf,
.gate-conf{
    display: none;
    padding: 2px 0 2px 20px;
}
#tableform .alt-conf table,
#tableform .gate-conf table{
    margin-bottom: 10px;
    table-layout: fixed;
}
#tableform .alt-conf table td,
#tableform .gate-conf table td{
    width: auto;
    text-align: left;
    vertical-align: middle;
}
#tableform .alt-conf table td:first-child,
#tableform .gate-conf table td:first-child{
    width: 170px;
}
.gate-enabled:checked + * + div{
    display: block;
}

.gate-conf .row{
    display: none;
}
.gate-conf .row .col-md-8:last-child{
    margin-top: -30px;
}
.gate-conf > input:checked + * + .row{
    display: block;
} 
#tableform .gate-conf-overide td{
    line-height: 1.5em;
}
.gate-conf-overide td input{
    width: auto;
}
#tableform .small-descr {
    line-height: 15px;
    display: inline-block; 
    color: gray;
    font-size: 90%
}