/* CSS Document */

body { 
	background-color:#fff; 
	padding:0; 
	margin:0; 
	font-family:tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size:14px;
}

ul#navigator { margin: 15px 0 0 0; padding: 0; list-style: none; position: relative; }

ul#navigator ul {
     width: auto; /* Sub Menu Width */
     margin: 0;
     padding:0;
    /* margin-left: -40px;*/
     list-style: none;
     display: none;
     position: absolute;
     top: 100%;
     left: 0; 
     z-index:100;
}

ul#navigator ul ul, ul#navigator ul ul ul { 
    top: 0; 
    left: 100%; 
}
ul#navigator li { 
    float: left; 
    display: inline; 
    position: relative;
	margin: 0;
    padding:0; 
}
ul#navigator ul li { 
    width: 100%; 
    display: block; 
	margin: 0;
    padding:0;
}
ul#navigator a.bdrnone_r {
     border-right: 0;
	 
}
ul#navigator a.bdrnone_l {
     border-left: 0;
	 
}
/* Root Menu */
ul#navigator a {
     padding: 3px 15px; 
	 margin: 0; 
     white-space:nowrap;
     float: left;
     display: block; 
   /* font-size:13px; */
    text-decoration: none; 
	 color:#8f8f8f; 
	 font-weight: normal; 
	 background-color:#FFFFFF;	
	border:0;
	border-radius: 5px; 	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	 
}

/* Root Menu Hover Persistence */
ul#navigator a:hover,ul#navigator li:hover a,ul#navigator li.iehover a {
   
     color: #fff;
	 background-color:#52a1da;	
	border:0;
	border-radius: 5px; 	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}

/* 2nd Menu */
ul#navigator li:hover li a,ul#navigator li.iehover li a {
     float: none;
     background: #BBB;
}

/* 2nd Menu Hover Persistence */
ul#navigator li:hover li a:hover,ul#navigator li:hover li:hover a,ul#navigator li.iehover li a:hover,ul#navigator li.iehover li.iehover a {
     background: #999;
}



/* Hover Function - Do Not Move */
ul#navigator li:hover ul ul,ul#navigator li:hover ul ul ul, ul#navigator li.iehover ul ul, ul#navigator li.iehover ul ul ul {
     display: none; 
 }
ul#navigator li:hover ul,ul#navigator ul li:hover ul,ul#navigator ul ul li:hover ul,ul#navigator li.iehover ul,ul#navigator ul li.iehover ul,ul#navigator ul ul li.iehover ul { 
    display: block; 
}




/****************** Start Left Menu**************/

#leftmenu{
	 list-style: none;
}
ul#leftmenu{
	 width: 80%; /* Menu Width */
	 margin: 0;
	 padding:0;
	 list-style: none;
	 z-index:100;
}
ul#leftmenu ul {
	 width: 200px; /* Menu Width */
	 margin: 0;
	 padding:0;
	 list-style: none;
	 z-index:100;
}
ul#leftmenu li { 
	float: left; 
	position: relative;  
	width: 100%; 
}
ul#leftmenu li.iehover { 
	z-index: 1000; /* IE z-index bugfix */ 
}
ul#leftmenu ul {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 9999;
}

/* Root Menu */
ul#leftmenu a {
	border-bottom: 1px solid #d6d6d6;
	padding: 10px 0px 10px 5px;
	display: block;
	background: #fff url(../images/bluearrow.gif) right 50% no-repeat;
	color: #0d86e3; 
	/*font-size:16px; */
	font-family:tahoma, verdana, Arial, sans-serif;
	text-decoration: none;
	height: 1%; 
}


/* Root Menu Hover Persistence */
ul#leftmenu a:hover,ul#leftmenu li:hover a,ul#leftmenu li.iehover a {
	color: #8c8c8c;
}
ul#leftmenu #arrow{
	background: #b9ccdd url(../images/bluearrow.png) 97% 50% no-repeat;
}
ul#leftmenu #none{
	background-image: none;
}
/* 2nd Menu */
ul#leftmenu li:hover li a,ul#leftmenu li.iehover li a {
	float: none;
	background: #b9ccdd;
	color: #fff;
	border-bottom: 1px solid #ffffff;
	padding: 3px 5px; 
	font-size:14px;
}

/* 2nd Menu Hover Persistence */
ul#leftmenu li:hover li a:hover,ul#leftmenu li:hover li:hover a,ul#leftmenu li.iehover li a:hover,ul#leftmenu li.iehover li.iehover a {
	background: #95adc2;
}

/* Hover Function - Do Not Move */
ul#leftmenu li:hover ul ul,ul#leftmenu li:hover ul ul ul,ul#leftmenu li.iehover ul ul,ul#leftmenu li.iehover ul ul ul { 
	display: none; 
}
ul#leftmenu li:hover ul,ul#leftmenu ul li:hover ul,ul#leftmenu ul ul li:hover ul,ul#leftmenu li.iehover ul,ul#leftmenu ul li.iehover ul,ul#leftmenu ul ul li.iehover ul { 
	display: block;
	
}

/****************** End Left Menu*********************/
.pathway-inpage{ 
	border-top:#d6d6d6 solid 1px; 
	padding:5px 0 10px 0;
	margin-bottom:0px;
	margin-top:20px;
}
.pathway-inpage a, .pathway-inpage a:visited{ 
	color:#7e7e7e; 
	text-decoration:none; 
	font-size:12px; 
	padding:0 0px 15px 0px;
	font-family:tahoma, Verdana, Arial, Helvetica, sans-serif; 
}
.pathway-inpage a:hover, .pathway-inpage a:active{ 
	color:#000; 
	text-decoration:none; 
}
.pathway { 
	border-bottom:#d6d6d6 solid 1px; 
	padding:0px 0 30px 0;
	margin-bottom:5px;
	margin-top:0px;
}
.pathway a, .pathway a:visited{ 
	color:#7e7e7e; 
	text-decoration:none; 
	font-size:12px; 
	padding:0 9px 15px 10px;
	font-family:tahoma, Verdana, Arial, Helvetica, sans-serif; 
}
.pathway a:hover, .pathway a:active{ 
	color:#000; 
	text-decoration:none; 
}


.bar{ 
	background-image:url(../images/bar.gif); 
	background-position:top; 
	background-repeat:no-repeat; 
	width:2px; 
	height:27px;
}
.left{ 
	float:left;
}
.right{ 
	float:right;
}
.clearit{ 
	clear:both; 
	padding:0; 
	margin:0;
}
.clearmar{ margin:0; padding:0;}


/* Start Sitemap */
.sitemap{ 
	color:#8c8c8c; 
}
.sitemap a, .sitemap a:visited{ 
	color:#8c8c8c; 
	font-size:12px; 
	text-decoration:none;
}
.sitemap a:hover, .sitemap a:active{ 
	color:#4fa8d6; 
	font-size:12px; 
	text-decoration:none;
}
.sitemap .padtop{ 
	padding:30px 10px 0 0;
}
/* End Sitemap */

/* Start Banner */

.banner{ 
	background-color:#FFFFFF; 
	margin-top:8px;
}
.banner .l_banner{ 
	background-color:#FFFFFF; 
	/*float:left; */
	width:73%; 
	padding:0 0 6px 0; 
}
.banner .r_banner{ 
	background-color:#FFFFFF;
	/*float:right; */
	width:26%;  
}
.banner .r_banner div{ 
	padding:0 0 6px 0; 
}
/********** End Banner ************/



/********** Start page ************/
.clearbot{ 
	padding-bottom:0px;
}
.in-page{ 
	background-color:#FFFFFF;
	/*margin-left:15px;
	margin-right:15px;*/
	padding-bottom:50px;
	padding-top:20px;
}
.in-page h1 a, .in-page h1 a:visited, .in-page h1 a:hover, .in-page h1 a:active{ 
	color:#0078c8;
	font-size:24px; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-weight:normal; 
	padding:0; 
	text-decoration:none; 
}
.in-page h1 a:hover, .in-page h1 a:active{ 
	color:#000;
}
.in-page h1{ 
	color:#0078c8;
	font-size:24px; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-weight:normal; 
	padding:0; 
}
.in-page h2{ 
	color:#262626;
	font-size:22px; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-weight:normal; 
	padding:0; 
}
.in-page h3.bar-one, .in-page h3.bar-two, .in-page h3.bar-three, .in-page h3.bar-four{ 
	color:#262626;
	font-size:16px; 
	font-weight:bold; 
	line-height:1.4em; 
	background:url(../images/bar-one.gif) left no-repeat;  
	padding:0 0 0 20px; 
	margin:0 0 25px 0; 
}
.in-page h3.bar-two{ 
	background:url(../images/bar-two.gif) left no-repeat;  
}
.in-page h3.bar-three{ 
	background:url(../images/bar-three.gif) left no-repeat;  
}
.in-page h3.bar-four{ 
	background:url(../images/bar-four.gif) left no-repeat;  
}
.in-page h4{ 
	color:#262626;
	font-size:16px; 
	font-weight: normal; 
}
.in-page p{ 
	font-size:14px;
}
.in-page p.padbot{ 
	padding-bottom:20px;
}
.in-page .bgline{ 
	border-bottom:#cdcccc dashed 2px; 
	margin:10px 0px; 
}
.in-page b.blue{ 
	color:#085caf;
	font-weight: normal; 
}
.in-page .padtop{ 
	padding-top:50px;
}
.in-page .icon{ 
	padding:30px 0;
}
.in-page .iconlink{ 
	padding:10px 0 50px 0;
}
.in-page a, .in-page a:visited, .in-page a:hover, .in-page a:active{ 
	color:#226eed; 
	font-size:16px; 
	text-decoration: underline;
}
.in-page a:hover, .in-page a:active{ 
	color:#000; 
}
.in-page .topicon{ 
	padding-top:150px;
}
.in-page .learntitle{ 
	background-color:#dbdbdb; 
	font-family:tahoma, Verdana, Arial, Helvetica, sans-serif; 
	color:#000;  
	/*font-size:14px; */
	padding:5px 3px;
	margin-bottom:1px; 
	
}
.in-page .border{ 
	border:#dbdbdb solid 1px; 
	padding:3px; 
	/*font-size:13px;
	min-height:15em;*/
}
.in-page .border a, .in-page .border a:visited{ 
	color:#226eed;  
	text-decoration: underline;
	/*font-size:13px;*/
}
.in-page .border a:hover, .in-page .border a:active{ 
	color:#000;  
	text-decoration: underline;
}
.in-page .more, .in-page .more a:visited{ 
	color:#226eed;  
	text-decoration: underline;
}
.in-page .more a:hover, .in-page .more a:active{ 
	color:#000;  
	text-decoration: underline;
}
.learntitle .icon{ 
	padding-right:3px; 
	float:left; 
	
}
.in-page .pathway{ 
	font-weight:normal; 
	border:0;
	padding:0; 
	margin:0; 
}
.in-page .pathway h1{ 
	font-size:22px; 
	padding:0; 
	margin:0; 
	font-family:Arial, Helvetica, sans-serif; 
}
.in-page .pathway h2{ 
	font-size:16px; 
	padding:0; 
	margin:-15px 0 0 0;
	font-family:Arial, Helvetica, sans-serif; 
}
.in-page .pathway h3{ 
	font-size:18px; 
	padding:0; 
	margin:0;
	color:#045f9b; 
	font-weight: normal; 
	font-family:Arial, Helvetica, sans-serif;
}
.in-page  h5{ 
	font-size:16px; 
	padding:0; 
	margin:10px 0 0 0;
	color:#535353; 
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;  
}
.in-page .bgpathway{ 
	background:url(../images/bgpathway.gif) left no-repeat; 
	height:4px; 
	display:block;
	margin:10px 0 10px 0;
}
.in-page .lineheight{ 
	line-height:1.8em;
}
.in-page .pathway .padbot{ 
	margin-bottom:20px;
}
.clearpad{ padding:0; margin:0;}
.bgtitle{ 
	background:url(../images/bgtitle.gif) top left repeat-x; 
	height:66px; 
	display:block;
	padding:13px 10px 10px 10px; 
	margin:0px; 
}
.bgtitle h1{ 
	color:#52a1da;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
/**************** News *********************/
.news { 
	color:#b9b9b9; 
}
.news div.block, .news td { 
	border-bottom:#ededed solid 1px; 
	padding:10px 0; 
}
.news .time{ 
	color:#358bae; 
	font-size:20px;
}
.news b{ 
	color:#000; 
	font-weight:bold; 
}
.news b.title{ 
	color:#358bae; 
	font-weight:bold; 
}
/**************** bullet *********************/
ul.circle{ 
	padding:0px;	
	margin:0px 0 0 50px;
}
ul.circle li{ 
	padding:0 0 10px 0;
	margin:0px; 
	line-height:1.7em;
	list-style: url(../images/bcircle.gif);
}
ul.circle li, ul.circle li a, ul.circle li a:visited{ 
	color:#686666; 
	text-decoration:none; 
	font-size:16px; 
	padding:0 0 15px 0;
}
ul.circle li a:hover, ul.circle li a:active{ 
	color:#000; 
	text-decoration:none; 
}

ul.bluecircle{ 
	padding:0px;
	margin:0px 0 0 15px;
}
ul.bluecircle li{ 
	padding:0 0 10px 0;
	margin:0px; 
	line-height:1.7em;
	list-style: url(../images/scircle.gif);
}
ul.bluecircle li a, ul.bluecircle li a:visited{ 
	color:#042d80; 
	text-decoration: underline; 
	font-size:14px; 
	padding:0 0 15px 0;
}
ul.bluecircle li a:hover, ul.bluecircle li a:active{ 
	color:#db6200; 
	font-size:14px;
}
ul.clearmar{ 
	padding:0px;
	margin:15px 0 15px 15px;
}
ul.clearuser{ 
	padding:0px;
	margin:15px 0 15px -10px;
}

/********* MENU Feature Group ********/
ul.feature-menu{ 
	list-style:none;
	width: 100%; 
	border-top:#CCCCCC solid 1px; 
	border-bottom:#CCCCCC solid 1px; 
	background-color: #000; 
	display:block; 
	padding:10px 0; 
	margin:0; 
	text-align:center;
}
ul.feature-menu a span.arrow{ 
	/*background:url(../images/icon-feature-arrow.gif) right 50% no-repeat;*/
	padding:0 15px 0 0;
}
ul.feature-menu a, ul.feature-menu a:visited{ 
	display:block; 
	padding:0; 
	margin:0 auto;
	color:#f4f4f4; 
	font-size:16px;
	text-decoration:none; 
	font-weight:bold; 
}
ul.feature-menu a:hover, ul.feature-menu a:active{ 
	display:block; 
	padding:0; 
	margin:0 auto;
	color:#fff; 
	font-size:16px;
	text-decoration:none; 
	font-weight:bold;
}

ul.name-feature-menu{ 
	display:none; 
	position:absolute; 
	background-color:#2e2e2e; 
	color:#9b9d9c; 
	text-align:left; 
	font-size:14px; 
	width:300px; 
	margin:0;
	padding:0; 
	list-style:none;
}
ul.name-feature-menu li{ 
	list-style:none; 
	margin:0; 
	padding:0; 
}
ul.name-feature-menu li ul{ 
	list-style:none; 
	margin:0; 
	padding:0; 
}
ul.name-feature-menu li ul li a, ul.name-feature-menu li ul li a:hover{  
	padding-left:30px; 
}
ul.name-feature-menu a, ul.name-feature-menu a:visited, ul.name-feature-menu a:hover, ul.name-feature-menu a:active{ 
	display:block; 
	padding:0 0 0 15px; 
	margin:0;
	color:#9b9d9c; 
	font-size:14px;
	text-decoration:none; 
	line-height:2.2em; 
	border-bottom:#434343 solid 1px; 
}
ul.name-feature-menu a:hover, ul.name-feature-menu a:active{ 
	color: #fff; 
}
ul.feature-menu ul.name-feature-menu ul.list-feature-menu {
	background-color:#2e2e2e;
	margin:0;
	padding:0; 
	list-style:none;
	border-bottom:#434343 solid 1px; 
}
ul.feature-menu ul.name-feature-menu ul.list-feature-menu li a{ 
	color:#9b9d9c; 
	text-align:left; 
	font-size:14px; 
	margin:0;
	padding:0 0 0 30px; 
	list-style:none; 
	border-bottom:#434343 solid 0px; 
	list-style:none; 
}
ul.feature-menu ul.name-feature-menu ul.list-feature-menu li a:hover, ul.feature-menu ul.name-feature-menu ul.list-feature-menu li a:active{ 
	color: #fff; 
}



.tablepay { 
	vertical-align:middle; 
	font-family:Verdana,tahoma; 
}
.tablepay tr{ 
	text-align:center; 
}
.tablepay td{ 
	border-bottom:#cccccc solid 1px; 
	padding:7px 4px; 
}
.tablepay .tablepay_bg01{ 
	background-color:#f57e22; 
	color:#ffffff; 
	font-weight:normal; 
	padding-left:7px; 
	text-align:left; 
}
.tablepay .noberderbot{border-bottom:0;}
.tablepay .ssl_bgprice{padding:0px;}
.tablepay_bg02, .tablepay_bg03, .tablepay_bg04, .tablepay_bg05{ 
	background-color:#7a7a7a; 
	font-weight:normal;  
	border-left:#ffffff solid 1px;
	vertical-align:middle; 
	color:#fff; 
	font-family:Verdana,tahoma;
}
.tablepay_bg03{ 
	background-color:#727272; 
}
.tablepay_bg04{ 
	background-color:#5b5b5b;
}
.tablepay_bg05{ 
	background-color:#424242;
}

.paymemt{ 
	background-color:#FFFFFF;
}
.paymemt .pay_address{
	background-color:#f6f6f6; 
	padding:15px;
	border:1px solid #c4c4c4;
	border-radius:10px;
	-moz-border-radius:10px;
	margin:25px 0;
}
.paymemt .txtblue{
	color:#52a1da;
}
.paymemt .txtorange{
	color:#ff7a11;
}
.paymemt .title{
	color:#000;
	font-weight:bold;
}
.paymemt .lineheight22{ 
	line-height:1.7em;
}
.paymemt .payment_title{
	border-bottom:1px solid #cccccc;
	color:#115ea6; 
	font-weight:bold; 
	font-size: 16px; 
	padding:5px 0px; 
	margin-bottom:25px; 
}
.paymemt .padd{
	padding:10px 0px; 
}
